In [1]:
import numpy as np
import scipy.stats as scs
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
df = pd.read_csv('/mnt/c/Users/kurtrm/Downloads/bigml_5acff779eba31d156f0000fa.csv')

In [6]:
df['Failure'].value_counts()

No     8703
Yes      81
Name: Failure, dtype: int64

In [13]:
measures = [f'Measure{i}' for i in range(1, 16)]

In [14]:
df.columns

Index(['Date', 'Temperature', 'Humidity', 'Operator', 'Measure1', 'Measure2',
       'Measure3', 'Measure4', 'Measure5', 'Measure6', 'Measure7', 'Measure8',
       'Measure9', 'Measure10', 'Measure11', 'Measure12', 'Measure13',
       'Measure14', 'Measure15', 'Hours Since Previous Failure', 'Failure',
       '﻿Date.year', '﻿Date.month', '﻿Date.day-of-month', '﻿Date.day-of-week',
       '﻿Date.hour', '﻿Date.minute', '﻿Date.second'],
      dtype='object')

In [15]:
measures

['Measure1',
 'Measure2',
 'Measure3',
 'Measure4',
 'Measure5',
 'Measure6',
 'Measure7',
 'Measure8',
 'Measure9',
 'Measure10',
 'Measure11',
 'Measure12',
 'Measure13',
 'Measure14',
 'Measure15']

In [19]:
df[measures].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 15 columns):
Measure1     8784 non-null int64
Measure2     8784 non-null int64
Measure3     8784 non-null int64
Measure4     8784 non-null int64
Measure5     8784 non-null int64
Measure6     8784 non-null int64
Measure7     8784 non-null int64
Measure8     8784 non-null int64
Measure9     8784 non-null int64
Measure10    8784 non-null int64
Measure11    8784 non-null int64
Measure12    8784 non-null int64
Measure13    8784 non-null int64
Measure14    8784 non-null int64
Measure15    8784 non-null int64
dtypes: int64(15)
memory usage: 1.0 MB

In [18]:
df[measures].head()

,Measure1,Measure2,Measure3,Measure4,Measure5,Measure6,Measure7,Measure8,Measure9,Measure10,Measure11,Measure12,Measure13,Measure14,Measure15
0,291,1,1,1041,846,334,706,1086,256,1295,766,968,1185,1355,1842
1,1180,1,1,1915,1194,637,1093,524,919,245,403,723,1446,719,748
2,1406,1,1,511,1577,1121,1948,1882,1301,273,1927,1123,717,1518,1689
3,550,1,1,1754,1834,1413,1151,945,1312,1494,1755,1434,502,1336,711
4,1928,1,2,1326,1082,233,1441,1736,1033,1549,802,1819,1616,1507,507

In [20]:
fake_categories = ['discharge_pressure', 'suction_pressure', 'differential_pressure', 'rotor_temperature', 'packing_leakage_rate',
                   'axial_bearing_temp', 'horizontal_bearing_temp', 'frequency', 'noise', 'voltage', 'current', 'speed',
                   'system_pressure', 'suction_fluid_temperature', 'discharge_fluid_temperature']