In [1]:
import numpy as np
import scipy.stats as scs
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [38]:
from sklearn.preprocessing import LabelBinarizer

In [2]:
raw_df = pd.read_csv('/mnt/c/Users/kurtrm/Downloads/bigml_5acff779eba31d156f0000fa.csv')

In [3]:
raw_df['Failure'].value_counts()

No     8703
Yes      81
Name: Failure, dtype: int64

In [4]:
raw_df.columns

Index(['Date', 'Temperature', 'Humidity', 'Operator', 'Measure1', 'Measure2',
       'Measure3', 'Measure4', 'Measure5', 'Measure6', 'Measure7', 'Measure8',
       'Measure9', 'Measure10', 'Measure11', 'Measure12', 'Measure13',
       'Measure14', 'Measure15', 'Hours Since Previous Failure', 'Failure',
       '﻿Date.year', '﻿Date.month', '﻿Date.day-of-month', '﻿Date.day-of-week',
       '﻿Date.hour', '﻿Date.minute', '﻿Date.second'],
      dtype='object')

Fifteen columns have generic names. In the spirit of creativity, I renamed these columns to readings that we may actually see on equipment logs, though their values may be unrealistic to what we could expect of these readings.

In [5]:
raw_df[[f'Measure{i}' for i in range(1, 16)]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 15 columns):
Measure1     8784 non-null int64
Measure2     8784 non-null int64
Measure3     8784 non-null int64
Measure4     8784 non-null int64
Measure5     8784 non-null int64
Measure6     8784 non-null int64
Measure7     8784 non-null int64
Measure8     8784 non-null int64
Measure9     8784 non-null int64
Measure10    8784 non-null int64
Measure11    8784 non-null int64
Measure12    8784 non-null int64
Measure13    8784 non-null int64
Measure14    8784 non-null int64
Measure15    8784 non-null int64
dtypes: int64(15)
memory usage: 1.0 MB

In [6]:
fake_categories = ['discharge_pressure', 'suction_pressure', 'differential_pressure', 'rotor_temperature', 'packing_leakage_rate',
                   'axial_bearing_temp', 'horizontal_bearing_temp', 'frequency', 'noise', 'voltage', 'current', 'speed',
                   'system_pressure', 'suction_fluid_temperature', 'discharge_fluid_temperature']

In [7]:
replacements = {key: value for key, value in zip([f'Measure{i}' for i in range(1, 16)], fake_categories)}
new_columns = [name if name not in replacements else replacements[name] for name in raw_df.columns]

In [8]:
new_columns

['Date',
 'Temperature',
 'Humidity',
 'Operator',
 'discharge_pressure',
 'suction_pressure',
 'differential_pressure',
 'rotor_temperature',
 'packing_leakage_rate',
 'axial_bearing_temp',
 'horizontal_bearing_temp',
 'frequency',
 'noise',
 'voltage',
 'current',
 'speed',
 'system_pressure',
 'suction_fluid_temperature',
 'discharge_fluid_temperature',
 'Hours Since Previous Failure',
 'Failure',
 '\ufeffDate.year',
 '\ufeffDate.month',
 '\ufeffDate.day-of-month',
 '\ufeffDate.day-of-week',
 '\ufeffDate.hour',
 '\ufeffDate.minute',
 '\ufeffDate.second']

There are some odd strings in the 'Date.' categories. I'll clean those up.

In [17]:
new_columns[-7:] = ['year', 'month', 'day-of-month', 'day-of-week', 'hour', 'minute', 'second']

In [19]:
raw_df.columns = new_columns

Next, change the 'Date' column datatype to datetime objects.

In [21]:
raw_df['Date'] = pd.to_datetime(raw_df['Date'])

In [40]:
one_hot = LabelBinarizer()
binary_labels = one_hot.fit_transform(raw_df['Failure'].values)

In [41]:
raw_df['Failure'] = binary_labels

In [42]:
raw_df

,Date,Temperature,Humidity,Operator,discharge_pressure,suction_pressure,differential_pressure,rotor_temperature,packing_leakage_rate,axial_bearing_temp,...,discharge_fluid_temperature,Hours Since Previous Failure,Failure,year,month,day-of-month,day-of-week,hour,minute,second
0,2016-01-01 00:00:00,67,82,Operator1,291,1,1,1041,846,334,...,1842,90,0,2016,1,1,5,0,0,0
1,2016-01-01 01:00:00,68,77,Operator1,1180,1,1,1915,1194,637,...,748,91,0,2016,1,1,5,1,0,0
2,2016-01-01 02:00:00,64,76,Operator1,1406,1,1,511,1577,1121,...,1689,92,0,2016,1,1,5,2,0,0
3,2016-01-01 03:00:00,63,80,Operator1,550,1,1,1754,1834,1413,...,711,93,0,2016,1,1,5,3,0,0
4,2016-01-01 04:00:00,65,81,Operator1,1928,1,2,1326,1082,233,...,507,94,0,2016,1,1,5,4,0,0
5,2016-01-01 05:00:00,67,84,Operator1,398,1,2,1901,1801,1153,...,1739,95,0,2016,1,1,5,5,0,0
6,2016-01-01 06:00:00,67,83,Operator1,847,0,2,1849,1141,1609,...,1192,96,0,2016,1,1,5,6,0,0
7,2016-01-01 07:00:00,67,76,Operator1,1021,2,1,185,170,952,...,844,97,0,2016,1,1,5,7,0,0
8,2016-01-01 08:00:00,65,80,Operator3,1731,2,0,1424,1176,1223,...,237,98,0,2016,1,1,5,8,0,0
9,2016-01-01 09:00:00,63,80,Operator3,415,0,0,1008,1086,1759,...,491,99,0,2016,1,1,5,9,0,0
10,2016-01-01 10:00:00,61,83,Operator3,525,2,2,603,1630,1740,...,1102,100,0,2016,1,1,5,10,0,0
11,2016-01-01 11:00:00,62,81,Operator3,1719,3,1,880,575,1722,...,1759,101,0,2016,1,1,5,11,0,0
12,2016-01-01 12:00:00,62,76,Operator3,1116,0,0,588,166,1233,...,1427,102,0,2016,1,1,5,12,0,0
13,2016-01-01 13:00:00,60,82,Operator3,282,1,1,1406,1727,945,...,1453,103,0,2016,1,1,5,13,0,0
14,2016-01-01 14:00:00,61,79,Operator3,637,3,0,821,511,373,...,1911,104,0,2016,1,1,5,14,0,0
15,2016-01-01 15:00:00,64,77,Operator3,1831,0,2,1277,1622,662,...,1597,105,0,2016,1,1,5,15,0,0
16,2016-01-01 16:00:00,60,80,Operator5,1622,3,2,846,1462,1618,...,172,106,0,2016,1,1,5,16,0,0
17,2016-01-01 17:00:00,64,85,Operator5,1885,3,2,503,569,1819,...,467,107,0,2016,1,1,5,17,0,0
18,2016-01-01 18:00:00,62,82,Operator5,616,2,2,634,1722,335,...,1449,108,0,2016,1,1,5,18,0,0
19,2016-01-01 19:00:00,60,75,Operator5,965,2,0,176,1456,746,...,505,109,0,2016,1,1,5,19,0,0
20,2016-01-01 20:00:00,60,82,Operator5,1238,2,1,171,1595,1153,...,741,110,0,2016,1,1,5,20,0,0
21,2016-01-01 21:00:00,67,78,Operator5,1327,0,1,1248,1185,1918,...,1256,111,0,2016,1,1,5,21,0,0
22,2016-01-01 22:00:00,63,79,Operator5,632,1,2,1037,543,181,...,1524,112,0,2016,1,1,5,22,0,0
23,2016-01-01 23:00:00,66,85,Operator5,861,3,1,1962,1391,1598,...,1311,113,0,2016,1,1,5,23,0,0
24,2016-01-02 00:00:00,67,75,Operator2,298,2,2,678,211,1474,...,1301,114,0,2016,1,2,6,0,0,0
25,2016-01-02 01:00:00,67,82,Operator2,333,0,2,1407,1305,1639,...,1303,115,0,2016,1,2,6,1,0,0
26,2016-01-02 02:00:00,69,82,Operator2,1196,2,1,343,471,628,...,1465,116,0,2016,1,2,6,2,0,0
27,2016-01-02 03:00:00,61,84,Operator2,1909,1,2,1102,1846,889,...,1608,117,0,2016,1,2,6,3,0,0
28,2016-01-02 04:00:00,63,79,Operator2,1645,0,1,311,1314,1503,...,1380,118,0,2016,1,2,6,4,0,0
29,2016-01-02 05:00:00,63,84,Operator2,1004,3,2,1760,372,685,...,895,119,0,2016,1,2,6,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,2016-12-30 18:00:00,61,82,Operator6,1835,0,0,1936,1508,1826,...,1131,161,0,2016,12,30,5,18,0,0
8755,2016-12-30 19:00:00,60,75,Operator6,1527,0,2,1412,860,740,...,1848,162,0,2016,12,30,5,19,0,0
8756,2016-12-30 20:00:00,65,78,Operator6,835,3,0,573,1182,457,...,1481,163,0,2016,12,30,5,20,0,0
8757,2016-12-30 21:00:00,67,83,Operator6,1638,3,0,334,517,235,...,1181,164,0,2016,12,30,5,21,0,0
8758,2016-12-30 22:00:00,66,80,Operator6,158,2,2,331,1636,309,...,1407,165,0,2016,12,30,5,22,0,0
8759,2016-12-30 23:00:00,65,79,Operator6,226,0,0,276,643,1213,...,730,166,0,2016,12,30,5,23,0,0
8760,2016-12-31 00:00:00,64,78,Operator7,1212,0,0,849,212,1822,...,971,167,0,2016,12,31,6,0,0,0
8761,2016-12-31 01:00:00,63,79,Operator7,498,3,2,1967,1659,1413,...,1358,168,0,2016,12,31,6,1,0,0
8762,2016-12-31 02:00:00,65,79,Operator7,494,0,2,1940,1364,1804,...,834,169,0,2016,12,31,6,2,0,0
8763,2016-12-31 03:00:00,66,85,Operator7,1422,0,2,1824,515,232,...,1955,170,0,2016,12,31,6,3,0,0
8764,2016-12-31 04:00:00,62,75,Operator7,1403,3,1,1100,726,194,...,1251,171,0,2016,12,31,6,4,0,0
8765,2016-12-31 05:00:00,66,80,Operator7,737,2,0,712,162,430,...,875,172,0,2016,12,31,6,5,0,0
8766,2016-12-31 06:00:00,64,80,Operator7,1018,1,1,1657,1264,2003,...,2010,173,0,2016,12,31,6,6,0,0
8767,2016-12-31 07:00:00,61,81,Operator7,548,1,0,852,1403,191,...,1410,174,0,2016,12,31,6,7,0,0
8768,2016-12-31 08:00:00,67,85,Operator2,1706,3,0,300,679,1122,...,1127,175,0,2016,12,31,6,8,0,0
8769,2016-12-31 09:00:00,61,75,Operator2,837,1,1,1433,1999,881,...,662,176,0,2016,12,31,6,9,0,0
8770,2016-12-31 10:00:00,65,80,Operator2,1801,2,1,964,1234,1958,...,1728,177,0,2016,12,31,6,10,0,0
8771,2016-12-31 11:00:00,77,69,Operator2,869,0,1,1492,1779,410,...,1885,178,1,2016,12,31,6,11,0,0
8772,2016-12-31 12:00:00,72,69,Operator2,839,2,0,1253,1825,166,...,451,1,1,2016,12,31,6,12,0,0
8773,2016-12-31 13:00:00,66,79,Operator2,868,1,0,1472,1329,650,...,1395,1,0,2016,12,31,6,13,0,0
8774,2016-12-31 14:00:00,65,75,Operator2,1006,2,1,1843,1715,677,...,1518,2,0,2016,12,31,6,14,0,0
8775,2016-12-31 15:00:00,68,82,Operator2,1541,1,2,991,488,1404,...,1758,3,0,2016,12,31,6,15,0,0
8776,2016-12-31 16:00:00,67,77,Operator8,187,0,0,1389,624,1201,...,1238,4,0,2016,12,31,6,16,0,0
8777,2016-12-31 17:00:00,60,80,Operator8,221,1,0,1374,920,967,...,308,5,0,2016,12,31,6,17,0,0
8778,2016-12-31 18:00:00,61,82,Operator8,1613,2,0,918,1710,440,...,1575,6,0,2016,12,31,6,18,0,0
8779,2016-12-31 19:00:00,66,79,Operator8,937,0,2,1875,1719,219,...,410,7,0,2016,12,31,6,19,0,0
8780,2016-12-31 20:00:00,60,77,Operator8,379,3,0,814,1990,1606,...,943,8,0,2016,12,31,6,20,0,0
8781,2016-12-31 21:00:00,61,77,Operator8,595,3,1,1659,1134,1314,...,200,9,0,2016,12,31,6,21,0,0
8782,2016-12-31 22:00:00,72,81,Operator8,1038,3,2,254,1400,564,...,1192,10,0,2016,12,31,6,22,0,0
8783,2016-12-31 23:00:00,60,82,Operator8,399,0,1,324,1424,809,...,1548,11,0,2016,12,31,6,23,0,0