In [2]:
import numpy as np
import scipy.stats as scs
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
from sklearn.preprocessing import LabelBinarizer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.grid_search import GridSearchCV

/home/kurtrm/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/kurtrm/anaconda/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [4]:
raw_df = pd.read_csv('/mnt/c/Users/kurtrm/Downloads/bigml_5acff779eba31d156f0000fa.csv')

In [5]:
raw_df['Failure'].value_counts()

No     8703
Yes      81
Name: Failure, dtype: int64

In [6]:
raw_df.columns

Index(['Date', 'Temperature', 'Humidity', 'Operator', 'Measure1', 'Measure2',
       'Measure3', 'Measure4', 'Measure5', 'Measure6', 'Measure7', 'Measure8',
       'Measure9', 'Measure10', 'Measure11', 'Measure12', 'Measure13',
       'Measure14', 'Measure15', 'Hours Since Previous Failure', 'Failure',
       '﻿Date.year', '﻿Date.month', '﻿Date.day-of-month', '﻿Date.day-of-week',
       '﻿Date.hour', '﻿Date.minute', '﻿Date.second'],
      dtype='object')

Fifteen columns have generic names. In the spirit of creativity, I renamed these columns to readings that we may actually see on equipment logs, though their values may be unrealistic to what we could expect of these readings.

In [7]:
raw_df[[f'Measure{i}' for i in range(1, 16)]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 15 columns):
Measure1     8784 non-null int64
Measure2     8784 non-null int64
Measure3     8784 non-null int64
Measure4     8784 non-null int64
Measure5     8784 non-null int64
Measure6     8784 non-null int64
Measure7     8784 non-null int64
Measure8     8784 non-null int64
Measure9     8784 non-null int64
Measure10    8784 non-null int64
Measure11    8784 non-null int64
Measure12    8784 non-null int64
Measure13    8784 non-null int64
Measure14    8784 non-null int64
Measure15    8784 non-null int64
dtypes: int64(15)
memory usage: 1.0 MB

In [8]:
fake_categories = ['discharge_pressure', 'suction_pressure', 'differential_pressure', 'rotor_temperature', 'packing_leakage_rate',
                   'axial_bearing_temp', 'horizontal_bearing_temp', 'frequency', 'noise', 'voltage', 'current', 'speed',
                   'system_pressure', 'suction_fluid_temperature', 'discharge_fluid_temperature']

In [9]:
replacements = {key: value for key, value in zip([f'Measure{i}' for i in range(1, 16)], fake_categories)}
new_columns = [name if name not in replacements else replacements[name] for name in raw_df.columns]

In [10]:
new_columns

['Date',
 'Temperature',
 'Humidity',
 'Operator',
 'discharge_pressure',
 'suction_pressure',
 'differential_pressure',
 'rotor_temperature',
 'packing_leakage_rate',
 'axial_bearing_temp',
 'horizontal_bearing_temp',
 'frequency',
 'noise',
 'voltage',
 'current',
 'speed',
 'system_pressure',
 'suction_fluid_temperature',
 'discharge_fluid_temperature',
 'Hours Since Previous Failure',
 'Failure',
 '\ufeffDate.year',
 '\ufeffDate.month',
 '\ufeffDate.day-of-month',
 '\ufeffDate.day-of-week',
 '\ufeffDate.hour',
 '\ufeffDate.minute',
 '\ufeffDate.second']

There are some odd strings in the 'Date.' categories. I'll clean those up.

In [11]:
new_columns[-7:] = ['year', 'month', 'day-of-month', 'day-of-week', 'hour', 'minute', 'second']

In [12]:
raw_df.columns = new_columns

Next, change the 'Date' column datatype to datetime objects.

In [13]:
raw_df['Date'] = pd.to_datetime(raw_df['Date'])

In [14]:
one_hot = LabelBinarizer()
binary_labels = one_hot.fit_transform(raw_df['Failure'].values)

In [15]:
raw_df['Failure'] = binary_labels

In [16]:
raw_df.Operator.value_counts()

Operator2    1952
Operator5     976
Operator4     976
Operator3     976
Operator6     976
Operator1     976
Operator7     976
Operator8     976
Name: Operator, dtype: int64

In [17]:
operator_dummies = pd.get_dummies(raw_df['Operator'])

In [18]:
equipment_df = pd.concat([raw_df.drop('Operator', axis=1), operator_dummies], axis=1)

In [19]:
equipment_df = equipment_df.drop(['minute', 'second'], axis=1)

In [20]:
equipment_df.head()

,Date,Temperature,Humidity,discharge_pressure,suction_pressure,differential_pressure,rotor_temperature,packing_leakage_rate,axial_bearing_temp,horizontal_bearing_temp,...,day-of-week,hour,Operator1,Operator2,Operator3,Operator4,Operator5,Operator6,Operator7,Operator8
0,2016-01-01 00:00:00,67,82,291,1,1,1041,846,334,706,...,5,0,1,0,0,0,0,0,0,0
1,2016-01-01 01:00:00,68,77,1180,1,1,1915,1194,637,1093,...,5,1,1,0,0,0,0,0,0,0
2,2016-01-01 02:00:00,64,76,1406,1,1,511,1577,1121,1948,...,5,2,1,0,0,0,0,0,0,0
3,2016-01-01 03:00:00,63,80,550,1,1,1754,1834,1413,1151,...,5,3,1,0,0,0,0,0,0,0
4,2016-01-01 04:00:00,65,81,1928,1,2,1326,1082,233,1441,...,5,4,1,0,0,0,0,0,0,0

In [21]:
week_dummies = pd.get_dummies(equipment_df['day-of-week'])

In [22]:
equipment_df = pd.concat([equipment_df.drop('day-of-week', axis=1), week_dummies], axis=1)

In [23]:
equipment_df.head()

,Date,Temperature,Humidity,discharge_pressure,suction_pressure,differential_pressure,rotor_temperature,packing_leakage_rate,axial_bearing_temp,horizontal_bearing_temp,...,Operator6,Operator7,Operator8,1,2,3,4,5,6,7
0,2016-01-01 00:00:00,67,82,291,1,1,1041,846,334,706,...,0,0,0,0,0,0,0,1,0,0
1,2016-01-01 01:00:00,68,77,1180,1,1,1915,1194,637,1093,...,0,0,0,0,0,0,0,1,0,0
2,2016-01-01 02:00:00,64,76,1406,1,1,511,1577,1121,1948,...,0,0,0,0,0,0,0,1,0,0
3,2016-01-01 03:00:00,63,80,550,1,1,1754,1834,1413,1151,...,0,0,0,0,0,0,0,1,0,0
4,2016-01-01 04:00:00,65,81,1928,1,2,1326,1082,233,1441,...,0,0,0,0,0,0,0,1,0,0

In [27]:
column_list = list(equipment_df.columns)

In [28]:
column_list[-7:] = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [30]:
column_list[1:3] = ['ambient_temp', 'ambient_humidity']

In [32]:
equipment_df.columns = column_list

In [33]:
equipment_df.head()

,Date,ambient_temp,ambient_humidity,discharge_pressure,suction_pressure,differential_pressure,rotor_temperature,packing_leakage_rate,axial_bearing_temp,horizontal_bearing_temp,...,Operator6,Operator7,Operator8,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,2016-01-01 00:00:00,67,82,291,1,1,1041,846,334,706,...,0,0,0,0,0,0,0,1,0,0
1,2016-01-01 01:00:00,68,77,1180,1,1,1915,1194,637,1093,...,0,0,0,0,0,0,0,1,0,0
2,2016-01-01 02:00:00,64,76,1406,1,1,511,1577,1121,1948,...,0,0,0,0,0,0,0,1,0,0
3,2016-01-01 03:00:00,63,80,550,1,1,1754,1834,1413,1151,...,0,0,0,0,0,0,0,1,0,0
4,2016-01-01 04:00:00,65,81,1928,1,2,1326,1082,233,1441,...,0,0,0,0,0,0,0,1,0,0

In [43]:
hour_dummie_headers = [f'hour_{i}' for i in range(0, 24)]

In [39]:
hour_dummies = pd.get_dummies(equipment_df['hour'])

In [44]:
adapted_equipment_df = pd.concat([equipment_df, hour_dummies], axis=1)

In [45]:
adapted_equipment_df.head()

,Date,ambient_temp,ambient_humidity,discharge_pressure,suction_pressure,differential_pressure,rotor_temperature,packing_leakage_rate,axial_bearing_temp,horizontal_bearing_temp,...,14,15,16,17,18,19,20,21,22,23
0,2016-01-01 00:00:00,67,82,291,1,1,1041,846,334,706,...,0,0,0,0,0,0,0,0,0,0
1,2016-01-01 01:00:00,68,77,1180,1,1,1915,1194,637,1093,...,0,0,0,0,0,0,0,0,0,0
2,2016-01-01 02:00:00,64,76,1406,1,1,511,1577,1121,1948,...,0,0,0,0,0,0,0,0,0,0
3,2016-01-01 03:00:00,63,80,550,1,1,1754,1834,1413,1151,...,0,0,0,0,0,0,0,0,0,0
4,2016-01-01 04:00:00,65,81,1928,1,2,1326,1082,233,1441,...,0,0,0,0,0,0,0,0,0,0

In [47]:
hour_columns = list(adapted_equipment_df.columns)
hour_columns[-24:] = hour_dummie_headers
adapted_equipment_df.columns = hour_columns

In [48]:
adapted_equipment_df

,Date,ambient_temp,ambient_humidity,discharge_pressure,suction_pressure,differential_pressure,rotor_temperature,packing_leakage_rate,axial_bearing_temp,horizontal_bearing_temp,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,2016-01-01 00:00:00,67,82,291,1,1,1041,846,334,706,...,0,0,0,0,0,0,0,0,0,0
1,2016-01-01 01:00:00,68,77,1180,1,1,1915,1194,637,1093,...,0,0,0,0,0,0,0,0,0,0
2,2016-01-01 02:00:00,64,76,1406,1,1,511,1577,1121,1948,...,0,0,0,0,0,0,0,0,0,0
3,2016-01-01 03:00:00,63,80,550,1,1,1754,1834,1413,1151,...,0,0,0,0,0,0,0,0,0,0
4,2016-01-01 04:00:00,65,81,1928,1,2,1326,1082,233,1441,...,0,0,0,0,0,0,0,0,0,0
5,2016-01-01 05:00:00,67,84,398,1,2,1901,1801,1153,1085,...,0,0,0,0,0,0,0,0,0,0
6,2016-01-01 06:00:00,67,83,847,0,2,1849,1141,1609,982,...,0,0,0,0,0,0,0,0,0,0
7,2016-01-01 07:00:00,67,76,1021,2,1,185,170,952,1183,...,0,0,0,0,0,0,0,0,0,0
8,2016-01-01 08:00:00,65,80,1731,2,0,1424,1176,1223,621,...,0,0,0,0,0,0,0,0,0,0
9,2016-01-01 09:00:00,63,80,415,0,0,1008,1086,1759,1946,...,0,0,0,0,0,0,0,0,0,0
10,2016-01-01 10:00:00,61,83,525,2,2,603,1630,1740,583,...,0,0,0,0,0,0,0,0,0,0
11,2016-01-01 11:00:00,62,81,1719,3,1,880,575,1722,952,...,0,0,0,0,0,0,0,0,0,0
12,2016-01-01 12:00:00,62,76,1116,0,0,588,166,1233,1362,...,0,0,0,0,0,0,0,0,0,0
13,2016-01-01 13:00:00,60,82,282,1,1,1406,1727,945,1631,...,0,0,0,0,0,0,0,0,0,0
14,2016-01-01 14:00:00,61,79,637,3,0,821,511,373,951,...,1,0,0,0,0,0,0,0,0,0
15,2016-01-01 15:00:00,64,77,1831,0,2,1277,1622,662,688,...,0,1,0,0,0,0,0,0,0,0
16,2016-01-01 16:00:00,60,80,1622,3,2,846,1462,1618,695,...,0,0,1,0,0,0,0,0,0,0
17,2016-01-01 17:00:00,64,85,1885,3,2,503,569,1819,1002,...,0,0,0,1,0,0,0,0,0,0
18,2016-01-01 18:00:00,62,82,616,2,2,634,1722,335,1299,...,0,0,0,0,1,0,0,0,0,0
19,2016-01-01 19:00:00,60,75,965,2,0,176,1456,746,1799,...,0,0,0,0,0,1,0,0,0,0
20,2016-01-01 20:00:00,60,82,1238,2,1,171,1595,1153,1465,...,0,0,0,0,0,0,1,0,0,0
21,2016-01-01 21:00:00,67,78,1327,0,1,1248,1185,1918,1200,...,0,0,0,0,0,0,0,1,0,0
22,2016-01-01 22:00:00,63,79,632,1,2,1037,543,181,1042,...,0,0,0,0,0,0,0,0,1,0
23,2016-01-01 23:00:00,66,85,861,3,1,1962,1391,1598,460,...,0,0,0,0,0,0,0,0,0,1
24,2016-01-02 00:00:00,67,75,298,2,2,678,211,1474,1826,...,0,0,0,0,0,0,0,0,0,0
25,2016-01-02 01:00:00,67,82,333,0,2,1407,1305,1639,1406,...,0,0,0,0,0,0,0,0,0,0
26,2016-01-02 02:00:00,69,82,1196,2,1,343,471,628,518,...,0,0,0,0,0,0,0,0,0,0
27,2016-01-02 03:00:00,61,84,1909,1,2,1102,1846,889,272,...,0,0,0,0,0,0,0,0,0,0
28,2016-01-02 04:00:00,63,79,1645,0,1,311,1314,1503,1336,...,0,0,0,0,0,0,0,0,0,0
29,2016-01-02 05:00:00,63,84,1004,3,2,1760,372,685,700,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,2016-12-30 18:00:00,61,82,1835,0,0,1936,1508,1826,1941,...,0,0,0,0,1,0,0,0,0,0
8755,2016-12-30 19:00:00,60,75,1527,0,2,1412,860,740,647,...,0,0,0,0,0,1,0,0,0,0
8756,2016-12-30 20:00:00,65,78,835,3,0,573,1182,457,1283,...,0,0,0,0,0,0,1,0,0,0
8757,2016-12-30 21:00:00,67,83,1638,3,0,334,517,235,1934,...,0,0,0,0,0,0,0,1,0,0
8758,2016-12-30 22:00:00,66,80,158,2,2,331,1636,309,1815,...,0,0,0,0,0,0,0,0,1,0
8759,2016-12-30 23:00:00,65,79,226,0,0,276,643,1213,1983,...,0,0,0,0,0,0,0,0,0,1
8760,2016-12-31 00:00:00,64,78,1212,0,0,849,212,1822,1847,...,0,0,0,0,0,0,0,0,0,0
8761,2016-12-31 01:00:00,63,79,498,3,2,1967,1659,1413,430,...,0,0,0,0,0,0,0,0,0,0
8762,2016-12-31 02:00:00,65,79,494,0,2,1940,1364,1804,1151,...,0,0,0,0,0,0,0,0,0,0
8763,2016-12-31 03:00:00,66,85,1422,0,2,1824,515,232,1502,...,0,0,0,0,0,0,0,0,0,0
8764,2016-12-31 04:00:00,62,75,1403,3,1,1100,726,194,1798,...,0,0,0,0,0,0,0,0,0,0
8765,2016-12-31 05:00:00,66,80,737,2,0,712,162,430,1293,...,0,0,0,0,0,0,0,0,0,0
8766,2016-12-31 06:00:00,64,80,1018,1,1,1657,1264,2003,913,...,0,0,0,0,0,0,0,0,0,0
8767,2016-12-31 07:00:00,61,81,548,1,0,852,1403,191,318,...,0,0,0,0,0,0,0,0,0,0
8768,2016-12-31 08:00:00,67,85,1706,3,0,300,679,1122,876,...,0,0,0,0,0,0,0,0,0,0
8769,2016-12-31 09:00:00,61,75,837,1,1,1433,1999,881,1307,...,0,0,0,0,0,0,0,0,0,0
8770,2016-12-31 10:00:00,65,80,1801,2,1,964,1234,1958,661,...,0,0,0,0,0,0,0,0,0,0
8771,2016-12-31 11:00:00,77,69,869,0,1,1492,1779,410,1447,...,0,0,0,0,0,0,0,0,0,0
8772,2016-12-31 12:00:00,72,69,839,2,0,1253,1825,166,1561,...,0,0,0,0,0,0,0,0,0,0
8773,2016-12-31 13:00:00,66,79,868,1,0,1472,1329,650,766,...,0,0,0,0,0,0,0,0,0,0
8774,2016-12-31 14:00:00,65,75,1006,2,1,1843,1715,677,1110,...,1,0,0,0,0,0,0,0,0,0
8775,2016-12-31 15:00:00,68,82,1541,1,2,991,488,1404,188,...,0,1,0,0,0,0,0,0,0,0
8776,2016-12-31 16:00:00,67,77,187,0,0,1389,624,1201,187,...,0,0,1,0,0,0,0,0,0,0
8777,2016-12-31 17:00:00,60,80,221,1,0,1374,920,967,1034,...,0,0,0,1,0,0,0,0,0,0
8778,2016-12-31 18:00:00,61,82,1613,2,0,918,1710,440,1783,...,0,0,0,0,1,0,0,0,0,0
8779,2016-12-31 19:00:00,66,79,937,0,2,1875,1719,219,748,...,0,0,0,0,0,1,0,0,0,0
8780,2016-12-31 20:00:00,60,77,379,3,0,814,1990,1606,1346,...,0,0,0,0,0,0,1,0,0,0
8781,2016-12-31 21:00:00,61,77,595,3,1,1659,1134,1314,907,...,0,0,0,0,0,0,0,1,0,0
8782,2016-12-31 22:00:00,72,81,1038,3,2,254,1400,564,216,...,0,0,0,0,0,0,0,0,1,0
8783,2016-12-31 23:00:00,60,82,399,0,1,324,1424,809,919,...,0,0,0,0,0,0,0,0,0,1