In [1]:
import json

In [2]:
import numpy as np
import scipy.stats as scs
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [41]:
import googlemaps
from sklearn.pipeline import make_pipeline

In [4]:
from frag_tools import (DropColumns,
                        AddressLatLong,
                        CurrentMakeDummies,
                        Binarize,
                        ChangeTypes,
                        custom_zip_cleaning)

In [5]:
df = pd.read_csv('/mnt/c/Users/kurtrm/Downloads/Predictive_Maintenance_Transformer_Overload_PA.csv', sep=';')

In [6]:
df.head()

,VegMgmt,PMLate,MilesFromOcean,Manufacturer,WaterExposure,MultipleConnects,Storm,AssetType,Repairs,AvgRepairCost,...,AssetCity,AssetState,AssetZip,locationID,Latitude1,Longitude1,Overloads,Latitude,Longitude,Status
0,Yes,N,0-30,Other,No,Yes,No,1-Phase Pole Transformer,Rebuild+3,"78851,3",...,STOCKBRIDGE,GA,30281,ADK,518.781,1.766.461,Below 100%,"51,8781","17,66461",1
1,Yes,N,0-30,Schneider Electric,No,No,No,1-Phase Pole Transformer,Rebuild+2,"78851,3",...,MARRIETTA,GA,30068,AKK,569.386,1.541.825,Below 100%,"56,9386","15,41825",1
2,Yes,N,0-30,Other,No,No,No,1-Phase Pole Transformer,Original,55000,...,NORCROSS,GA,30091,Z13,609.047,1.614.225,Above 150%,"60,9047","16,14225",0
3,Yes,N,0-30,Other,No,Yes,No,1-Phase Pole Transformer,Original,"78851,3",...,STOCKBRIDGE,GA,30281,AKI,609.028,1.612.306,Above 150%,"60,9028","16,12306",0
4,Yes,N,0-30,Siemens,No,No,No,1-Phase Pole Transformer,Original,"78851,3",...,JONESBORO,GA,30238,AUK,626.800,1.646.600,Above 150%,"62,68","16,466",0

In [7]:
location_info = df[['AssetLocation', 'AssetCity', 'AssetState', 'AssetZip']]

In [8]:
joined_series = location_info.apply(lambda x: ", ".join(x.tolist()), axis=1)

In [9]:
joined_series.tolist()

['371 VISTA CREEK DR, STOCKBRIDGE, GA, 30281',
 '400 WOODSTONE DR, MARRIETTA, GA, 30068',
 '3150 GATEWAY DRIVE, NORCROSS, GA, 30091',
 '120 CLIFFORD CT, STOCKBRIDGE, GA, 30281',
 '10126 COMMONS XING, JONESBORO, GA, 30238',
 '3346 CEDAR ISLAND DRIVE, ATLANTA, GA, 30311',
 '1040 GREENWOOD AVE #7, ATLANTA, GA, 30306',
 '1332 BENBROOKE LN NW, ACWORTH, GA, 30101',
 '2888 MAPLE GROVE DR, REX, GA, 30273',
 '963 SCOTT CIRCLE, DECATUR, GA, 30033',
 '4675 TWIN OAKS DR NW, KENNESAW, GA, 30152',
 '334 DICKSON STREET, RIVERDALE, GA, 30296',
 'DAVID P CLARK JR, WILLIAMSON, GA, 30292',
 '4471 FAIRFAX PLACE, POWDER SPRINGS, GA, 30127',
 '3053 BALEARIC DR SE, MARIETTA, GA, 30067',
 '3001 TREE LODRE PRKWY, ATLANTA, GA, 30350',
 '4050 MORGAN RD APT# 176, UNION CITY, GA, 30291',
 '1083 CURTIS DR, FOREST PARK, GA, 30297',
 '2948 STRATHMOOR RD SE, SMYRNA, GA, 30080',
 '1183 IRON GATE BLVD, JONESBORO, GA, 30238',
 '638 INDIAN HILLS PARKWAY, MARIETTA, GA, 30068',
 '427 BLUE SMOKE TRL, PEACHTREE CITY, GA, 30269',
 '916 VERONA DRIVE, CLARKESTON, GA, 30021',
 '3510 RIVER FERRY RD, ALPHARETTA, GA, 30022',
 '3445 FINGLASS RD, MARIEGTA, GA, 30008',
 '2500 PEACHTREE RD, ATLANTA, GA, 30305',
 '2350 LAKE ROYALE, RIVERDALE, GA, 30296',
 '413 NORTON CROSSING, WOODSTOCK, GA, 30188',
 '3167 PINEHILL DRIVE, DECATUR, GA, 30032',
 '120 HIDEAWAY VILLAGE RD #19, WOODSTOCK, GA, 30188',
 '6991 CHASEWATER LANE, AUSTELL, GA, 30168',
 '849 CARNELLIAN LANE, PEACHTREE CITY, GA, 30269',
 '647 CARLTON RD, PALMETTO, GA, 30268',
 '55 N LAKESIDE DR, ELLENWOOD, GA, 30294',
 '3244 AMBLEWOOD CT NE, ATLANTA, GA, 30345',
 '855 Pastel Drive SW, Marietta, GA, 30008',
 '3037 ELITE, ALPHARETTA, GA, 30005',
 '3266 WILTSHIRE DR, AVONDALE ESTATES, GA, 30002',
 '178 EASTIN RD, FAYETTEVILLE, GA, 30214',
 '13300-101 MORRIS ROAD, ALPHARETTA, GA, 30004',
 '410 OAK ST SE, DAWSON, GA, 39842',
 '3150 RESIN ST., MARIETTA, GA, 30066',
 '2978 RAINBOW DR  APT 158, DECATUR, GA, 30034',
 '4518 CREEKWOOD CIR NW, KENNESAW, GA, 30152',
 '3330 STONEYBROOK DR, DOUGLASVILLE, GA, 30134',
 '784 ORMEWOOD AVE, ATLANTA, GA, 30312',
 '1692 N PELHAM RD NE, ATLANTA, GA, 30324',
 'PO BOX 408, SCOTTDALE, GA, 30079',
 '3583 RIVER HEIGHTS CROSSING, MARIETTA, GA, 30067',
 '109 MCKINLEY DR, GRIFFIN, GA, 30224',
 '2574 LESLIE DR NE, ATLANTA, GA, 30345',
 '64 SILHOUETTE CT, NEWNAN, GA, 30265',
 '856 SCOTT LN SW, MARIETTA, GA, 30008',
 '7168 WHITFIELD DR, RIVERDALE, GA, 30296',
 '1655 OAKFIELD LN, ROSWELL, GA, 30075',
 '4715 HAMPTONS DR, ALPHARETTA, GA, 30004',
 '206 VALLEY WAY, HAMPTON, GA, 30228',
 '108 CLIFFORD CT, STOCKBRIDGE, GA, 30281',
 '306 SPRING CREEK DRIVE, STOCKBRIDGE, GA, 30281',
 '1124 ROCKCUT RD, FORESTPARK, GA, 30297',
 '4063 CLOISTER DRV, MARRIETTA, GA, 30062',
 '110 ROCKGLEN CT, FAYETTEVILLE, GA, 30215',
 '6086 FOXCROFT CT, MORROW, GA, 30260',
 '3413 PIN OAK CIRCLE, ATLANTA, GA, 30340',
 '4020 DANFORTH RD  APT/FLR# 214, ATLANTA, GA, 30331',
 '5343 W CHAPEL HILL RD # 6, DOUGLASVILLE, GA, 30135',
 '864 OXFORD DR, CANTON, GA, 30115',
 '38 STONEY LANE, JASPER, GA, 30143',
 '4004 RHYNE CIR SE, SMYRNA, GA, 30082',
 '311 HOLLY BUSH CT, BALL GROUND, GA, 30107',
 '1360 BENBROOK LANE, ACWORTH, GA, 30101',
 '157 PLANTATION TRACE, WOODSTOCK, GA, 30108',
 '2200 NISKEY LAKE RD SW, ATLANTA, GA, 30331',
 '91 MERCY WAY, POWDER SPRINGS, GA, 30127',
 '2523 LOGHAVEN DR NW, ATLANTA, GA, 30318',
 'PO BOX 689   141 E COLLEGE AVE, DECATUR, GA, 30030',
 '2269 COLLIER DR, DECATUR, GA, 30032',
 '3735 PATTERSTONE DRIVE, ALPHARETTA, GA, 30022',
 '305 STEPPING STONE DR, ALPHARETTA, GA, 30004',
 '1106 HIP POCKET RD, PEACHTREE CITY, GA, 30269',
 '5688 BONNELL COURT, REX, GA, 30273',
 '3290 MOUNT GILEAD RD SW, ATLANTA, GA, 30311',
 '530 PARK VALLEY DR NW, ATLANTA, GA, 30318',
 '3465 JONES FERRY LANE, ALPHARETTA, GA, 30022',
 '1388 RICHLAND RD, ATLANTA, GA, 30310',
 '144 BARTOW DR, BAINBRIDGE, GA, 39819',
 '3670 PATTERSTONE DR, ALPHARETTA, GA, 30022',
 '1070 COLQUITT AVE NE, ATLANTA, GA, 30307',
 '120 SILVER FOX PLACE, FAYETTEVILLE, GA, 30214',
 '314 HATTON DR, SCOTTDALE, GA, 30079',
 '613 SUMMER DR NE, SANDY SPRINGS, GA, 30328',
 '155 OAK GROVE PL, ACWORTH, GA, 30102',
 '25 MINERAL SPRINGS CT,APT/FLR# 158, JASPER, GA, 30143',
 '516 LANGHORN ST SW APT 404, ATLANTA, GA, 30310',
 '4108 COLUMNS RD, MERIETTA, GA, 30067',
 '2111 ABBY LANE, ATLANTA, GA, 30345',
 '194 HABITAT CIR, DECATUR, GA, 30034',
 '7105 WINDRUSH LN, ALPHARETTA, GA, 30004',
 '8886 E BOURNE DR, JONESBORO, GA, 30238',
 '2245 DINSMORE RD, ALPHARETTA, GA, 30004',
 '510 SUMMER TER, WOODSTOCK, GA, 30189',
 '36 WALTHALL ST NE, ATLANTA, GA, 30307',
 '4207 SPRINGWOOD CIRCLE, MARIETTA, GA, 30062',
 '739 CONCORD RD SW, SMYRNA, GA, 30082',
 '1209 BAYRIDGE DR, RIVERDALE, GA, 30296',
 '115 BIRKDALE CT, ALPHARETTA, GA, 30022',
 '109 LINDSEY LN, HAMPTON, GA, 30228',
 '100 TINSLEY MILL ROAD, PEACHTREE CITY, GA, 30269',
 '70 AMY COURT, STOCKBRIDGE, GA, 30281',
 '600 AZTEC LANE, ALBANY, GA, 31721',
 '3987 FOXGLEN DRIVE, WOODSTOCK, GA, 30189',
 '4282 WINDY GAP, KENNASAW, GA, 30144',
 '306 CARRIAGE LANE, APT B, ALBANY, GA, 31721',
 '658 HAMPTON LOCUST GROVE RD, HAMPTON, GA, 30228',
 '5976 FOXCROFT CT, MORROW, GA, 30260',
 '1040 WINDSOR TRAIL, ROSWELL, GA, 30076',
 '4056 BUTNER STREET, POWDER SPRINGS, GA, 30127',
 '1100 HAMMOND DR, ATLANTA, GA, 30328',
 '5924 PHILLIPS DR, MORROW, GA, 30260',
 '9697 UTAH DR, JONESBORO, GA, 30238',
 '2255 LENOX RD APT D15, ATLANTA, GA, 30324',
 '4022 JORDAN LAKE DR, MARIETTA, GA, 30062',
 '1319 ANGEL FALLS LN SW., ATLANTA, GA, 30311',
 '2429 TILSON RD, DECATUR, GA, 30032',
 '21 QUAIL RUN COURT, NEW NAN, GA, 30265',
 '593 AMAH LEE RD, HAMPTON, GA, 30228',
 '121 HILLSDALE DRIVE SE, ATLANTA, GA, 30315',
 '5650 MALLORY RD, ATLANTA, GA, 30349',
 '147 26TH ST., APT. 3006, ATLANTA, GA, 30309',
 '150 OAK DR, ATLANTA, GA, 30354',
 '7712 AUTRY CIRCLE  #408, DOUGLASVILLE, GA, 30134',
 '130 26TH ST #703, ATLANTA, GA, 30309',
 '1950 REYNOLDS RD SW, ATLANTA, GA, 30331',
 '8450 ROSWELL RD, ATLANTA, GA, 30350',
 '1010 WHITESTONE RIDGE, ALPHARETTA, GA, 30005',
 '4555 ROBERTS DR, ACWORTH, GA, 30101',
 '15202 CYPRESS COURT, ALPHARETTA, GA, 30005',
 '4607 ANNS TRACE, ACWORTH, GA, 30102',
 '11300 SPRING LANE APT E, NORCROSS, GA, 30092',
 '2215 GOLF COURSE DRIVE, ALBANY, GA, 31721',
 '12100 SPRINGS LANE, NORCROSS, GA, 30092',
 '2511 E Doublegate Drive, Albany, GA, 31721',
 '3668 KINGSBORO ROAD NE, ATLANTA, GA, 30319',
 '6755 BRANDON MILL RD NW, ATLANTA, GA, 30328',
 '2706 MOHAWK TRL, ACWORTH, GA, 30102',
 '2354 COLLIER DR, DECATUR, GA, 30032',
 '119 PENNINSULA DRIVE, PEACHTREE CITY, GA, 30269',
 '603 CRANBROOK CIR, AUSTELL, GA, 30106',
 '3201 HENDERSON MILLS RD APT 36, CHAMDLEE, GA, 30341',
 '3913 WABASH LANE, ELLENWOOD, GA, 30294',
 '4264 LOCH HIGHLAND PKWY NE, ROSWELL, GA, 30075',
 '1300 KILLIAN ROAD, CANTON, GA, 30114',
 '4290 COATSWORTH DR, REX, GA, 30273',
 '1205 WAVERLY DR, FOREST PARK, GA, 30297',
 '605 GLENLEAF DRIVE, NORCROSS, GA, 30092',
 '1140 ROXBORO POINTE NE, ATLANTA, GA, 30324',
 '749 VILLAGE LANE, MARIETTA, GA, 30060',
 '3994 CAMDEN WAY, ALPHARETTA, GA, 30005',
 '2206 LINKS COURT, ALBANY, GA, 31721',
 '1135 CEDAR BRANCH CT SW, MARIETTA, GA, 30064',
 '3370 NANCY CREEK RD NW, ATLANTA, GA, 30327',
 '616 GRANVILLE CT. NE, ATLANTA, GA, 30328',
 '1600 VESTA AVE, COLLEGE PARK, GA, 30337',
 '10012 CLEARWATER TRL, JONESBORO, GA, 30238',
 '923 LONGLEAF DR, FOREST PARK, GA, 302974',
 '5650 KOWETA RD, COLLEGE PARK, GA, 30349',
 '105 ARBOR WAY, FAYETTEVILLE, GA, 30215',
 '96 SUMMIT ST, JASPER, GA, 30143',
 '211 WELLWOOD CT., ROSWELL, GA, 30075',
 '2191 GREENCLIFF DR NE, ATLANTA, GA, 30345',
 '2598 WHITELEIGH DR NE, ATLANTA, GA, 30345',
 '15 RIVER COURT PKWY NW, ATLANTA, GA, 30328',
 '800 PEACHTREE ST # 8413, ATLANTA, GA, 30308',
 '136 N CANDLER ST, DECATUR, GA, 30030',
 '2603 CRANBROOK CIR, AUSTELL, GA, 30106',
 '91 RUMSON RD, ATLANTA, GA, 30305',
 '199 TYLER RIDGE, JONESBORO, GA, 30238',
 '1820 PARKVIEW CT NW, KENNESAW, GA, 30152',
 '4943 TILLY MILL ROAD, ATLANTA, GA, 30360',
 '355 PEACHTREE ST. N.E. APT 212, ATLANTA, GA, 30308',
 '706 WOODHAVEN DR, WOODSTOCK, GA, 30188',
 '3602 PLAYERS CT, DOUGLASVILLE, GA, 30135',
 '175 CHEROKEE ROSE LN, FAIRBURN, GA, 30213',
 '1947 HOOPER ST, DECATUR, GA, 30032',
 '2303 N PEACHTREE WAY, ATLANTA, GA, 30338',
 '100 ROANOKE AVE NE, ATLANTA, GA, 30305',
 '11765 KING ROAD, ROSWELL, GA, 30075',
 '6 POINTE TERRACE NW, ATLANTA, GA, 30339',
 '134 RIVER  OAKS DRVE, WOODSTOCK, GA, 30188',
 '504 NEW SALEM RD, GRIFFIN, GA, 30223',
 '1538 OAK GROVE RD, DECATUR, GA, 30033',
 '2836 BARBARA LN, MARIETTA, GA, 30062',
 '2132 BRIARWILLOW DR NE, ATLANTA, GA, 30345',
 '5040 OLD BRIAR TRAIL, DOUGLASVILLE, GA, 30135',
 '94 VAUGHN ROAD, GRIFFIN, GA, 30223',
 '2379 N PEACHTREE WAY, ATLANTA, GA, 30338',
 '5430 SAINT LO LN, COLLEGE PARK, GA, 30349',
 '145 PARK DR, DECATUR, GA, 30030',
 '4 SHADOWWOOD DR, NEWNAN, GA, 30265',
 '372 DARTMOUTH DRIVE SW, ATLANTA, GA, 30331',
 '8491 HOSPITAL DR #240, DOUGLASVILLE, GA, 30134',
 '1650 MELBA CT, MARIETTA, GA, 30066',
 '93 CLARENDON AVE, AVONDALE ESTATES, GA, 30002',
 '2997 JUDYLYN DR, DECATUR, GA, 30033',
 '1686 PADDLEWHEEL DR, MARIETTA, GA, 30062',
 '8570 PARKER PLACE, ROSWELL, GA, 30076',
 '810 LORIDANS CIR NE, ATLANTA, GA, 30342',
 '78 CLARENDON AVE, AVONDALE ESTATES, GA, 30002',
 '1136 ORMEWOOD AVE SE, ATLANTA, GA, 30316',
 '6250 BEVERLY DR, MAPLETON, GA, 30126',
 '40 DORRIS  RD, ALPHARETTA, GA, 30004',
 '185 MARION BLVD, FAYETTEVILLE, GA, 30215',
 '6380 HAWTHORNE TERRACE, NORCROSS, GA, 30092',
 '5737 WILKERSON RD, REX, GA, 30273',
 '375 PILGRIMAGE PT, ALPHARETTA, GA, 30022',
 '100 ORCHARD TRAIL, FAYETTEVILLE, GA, 30214',
 '1820 CONDOR DR NE # 18, MARIETTA, GA, 30066',
 '578 ANDERSON RAOD, Marietta, GA, 30064',
 '35 FIRETHORN DR, NUNEN, GA, 30265',
 '3070 TINA LANE, MARIETTA, GA, 30066',
 '2049 MIDWAY RD, DOUGLASVILLE, GA, 30135',
 '149 PINE LANE NE, DAWSON, GA, 39842',
 '4439 MADISON WOODS DR NW, MARIETTA, GA, 30064',
 '3747 PEACHTREE RD. N.E. #1713, ATLANTA, GA, 30319',
 '314 SPRING CREEK LANE, ATLANTA, GA, 30350',
 '820 HAVEN OAKS COURT, ATLANTA, GA, 30342',
 '1101 SANDY LANE DR, ALPHARETTA, GA, 30022',
 '172 TAKELA FRST, FAIRMOUNT, GA, 30139',
 '11507 MATTHEWS TRL, HAMPTON, GA, 30228',
 '1678 KENBROOK TRACE, ACWORTH, GA, 30101',
 '839 HARWELL ROAD NW, ATLANTA, GA, 30318',
 '311 AVERY ST, DECATOR, GA, 30030',
 '959 ALLRED MILL RD, JASPER, GA, 30143',
 '5202 OLD MOUNTAIN CT, POWDER SPRINGS, GA, 30127',
 '875 KINGS CT NE, ATLANTA, GA, 30306',
 '1422 A RIVERWALK LANE, COLLEGE PARK, GA, 30349',
 '879 VIRGINIA CIR NE, ATLANTA, GA, 30306',
 '3018 EMBER DR, DECATUR, GA, 30034',
 '920 OHARA CT, JONESBORO, GA, 30236',
 '1015 REDBUD LANE SW, ATLANTA, GA, 30311',
 '3810 APPLE WAY, MARIETTA, GA, 30066',
 '1236 COBBLEMILL COVE, KENNESAW, GA, 30152',
 '408 HAWKSTONE WAY, ALPHARETTA, GA, 30022',
 '1224 WADE GREEN CIR NW, ACWORTH, GA, 30102',
 '1342 SURREY LANE, MARIETTA, GA, 30060',
 '25 IVY SPRINGS DR, NEWNAN, GA, 30265',
 '1272 BEECHER ST, ATLANTA, GA, 30310',
 '3750 PEACH TREE DRIVE NE, ATLANTA, GA, 30319',
 '2958 WEST ELLIS ROAD, GRIFFIN, GA, 30223',
 '105 FIRETHORN DR, NEWNAN, GA, 30265',
 '4281 STEADING RD., POWDER SPRINGS, GA, 30127',
 '1900 KEMP ROAD, MARIETTA, GA, 30066',
 '20 GLEN HOLLOW CIRCLE, DECATOR, GA, 30034',
 '708 HEZEKIAH WAY, ELLENWOOD, GA, 30294',
 '1081 BLITE COURT, AUSTELL, GA, 30106',
 '1028 WINTERGLEN WAY, AUSTELL, GA, 30168',
 '345 VISTA CREEK DR, STOCKBRIDGE, GA, 30281',
 '33 DOVER TRAIL, PEACHTREE CITY, GA, 30269',
 '5106 GLENDORA DR, POWDER SPRINGS, GA, 30127',
 '1543 FAIRVIEW RD, ELLENWOOD, GA, 30294',
 '1041 PEACE DR, KENNESAW, GA, 30152',
 '110 LILLIAN DR, NEWNAN, GA, 30265',
 '1901 MACLAND WOODS DR, POWDER SPRINGS, GA, 30127',
 '101 SANDTRAP RDG, PEACHTREE CITY, GA, 30269',
 '1010 E CLUB LN NE, ATLANTA, GA, 30319',
 '1237 WATTS ROAD, FOREST PARK, GA, 30297',
 '429 LANTERN WOOD DR, SCOTTDALE, GA, 30079',
 '65 RICHMOND PL, NEWNAN, GA, 30265',
 '6540 CALAMAR DR, CUMMING, GA, 30040',
 '706 COVE RD, PEACHTREE CTY, GA, 30269',
 '700 SPALDING HEIGHTS DR, ATLANTA, GA, 30350',
 '96 LARRY DR, ACWORTH, GA, 30101',
 '2147 CASTLEWOOD ST, EAST POINT, GA, 30344',
 '1400 WILLIS MILL RD, ATLANTA, GA, 30311',
 '847 SAINTS DR, MARIETTA, GA, 30068',
 '9930 LAKE FOREST WAY, ROSWELL, GA, 30076',
 '105 WALDAN CHASE CIRCLE, WOODSTOCK, GA, 30188',
 '605 FAWN RDG, CANTON, GA, 30115',
 '2885 CLIFTON CHURCH RD SE, ATLANTA, GA, 30316',
 '5437 TRUMPET VINE TRL, MABLETON, GA, 30126',
 '8222 SEVEN OAKS DR, JONESBORO, GA, 30236',
 '600 LOVINGGOOD TRL, WOODSTOCK, GA, 30189',
 '105 SYCAMORE PL APT 201B, DECATUR, GA, 30030',
 '346 W OAKS TRL, WOODSTOCK, GA, 30188',
 '2777 SHALLOW FORD RD, ATLANTA, GA, 30341',
 '5512 WAHSEGA WAY, MORROW, GA, 30260',
 '493 CONCORD RD, SMYRNA, GA, 30082',
 '6207 WINDFLOWER DR, POWDER SPRINGS, GA, 30127',
 '1213 IVEY PARK LANE, NORCROSS, GA, 30092',
 '719 AVERY ST, DECATUR, GA, 30030',
 '4138 BELLFLOWER CT NE, ROSWELL, GA, 30075',
 '4211 MACIEDONIA ROAD, POWDER SPRING, GA, 30127',
 '515 SUMMER BREEZE, ALPHARETTA, GA, 30005',
 '1014 PEACE DR NW, KENNESAW, GA, 30152',
 '509 GRANIDE RIDGE PLACE, ATLANTA, GA, 30350',
 '765 NEW MAGNOLIA CT., COLLEGE PARK, GA, 30349',
 '3470 FLINTS TER, ELLENWOOD, GA, 30294',
 '3431 HENDERSON RESERVE, ATLANTA, GA, 30341',
 '3064 JANICE CT, CHAMBLEE, GA, 30341',
 '481 PLANTATION RD SW, SMYRNA, GA, 30082',
 '131 AMHERST PLACE NW, ATLANTA, GA, 30327',
 '3449 STEMBLER RIDGE, DOUGLASVILLE, GA, 30135',
 '10707 STARLING TRAIL, HAMPTOM, GA, 30228',
 '3111 MARGARET MITCHELL DR NW, ATLANTA, GA, 30327',
 '1019 FRANKLIN RD. SE. APT 15-E, MARIETTA, GA, 30067',
 '410 HILLSDALE DRIVE, FAYETTEVILLE, GA, 30214',
 '1213 WEST OAKS WAY, WOODSTOCK, GA, 30188',
 '4190 WESTON DR, POWDER SPRINGS, GA, 30127',
 '3349 HOMEWARD, ELLEN, GA, 30294',
 '473 ELAINE DR SW, SMYRNA, GA, 30082',
 '808 BROUGHTON ST, BAINBRIDGE, GA, 39817',
 '4676 RIDGEWOOD DR, FOREST PARK, GA, 30297',
 '1375 OLD WOODBINE RD NE, ATLANTA, GA, 30319',
 '2765 FRAN LN SW, MARIETTA, GA, 30060',
 '915 A ROSEDALE RD NE, ATLANTA, GA, 30306',
 '200 KIOWA COURT SE, ACWORTH, GA, 30102',
 '4925 HYDE WAY, CUMMING, GA, 30040',
 '128 GRAND OAKS WAY, STOCKBRIDGE, GA, 30281',
 '700 NORTHERN AVE, CLARKSTON, GA, 30021',
 '1362 PEBBLE BEACH LANE, HAMPTON, GA, 30228',
 '4006 MAXANNE DR, KENNEASW, GA, 30144',
 '3030 CONTINENTAL COLONY PRKY, ALTANTA, GA, 30331',
 '3230 TARA BRANCH WALK, CANTON, GA, 30115',
 '1077 PALAFOX DR NE, ATLANTA, GA, 30324',
 '1234 VIRGINIA AVE NE # 10, ATLANTA, GA, 30306',
 '3506 HOMEWARD TRAIL, ELLENWOOD, GA, 30294',
 '10375 HIGH FALLS CIRCLE, ALPHIARETTA, GA, 30022',
 '3345 CHADBOURNE TRAIL, ALPHARETTA, GA, 30004',
 '4782 LAYFIELD DR, ATLANTA, GA, 30338',
 '3212 DELMAR LN NW, ATLANTA, GA, 30311',
 '903 WHITE PINE DRIVE,APT/FLR# E, DECATUR, GA, 30032',
 '1960 OAKLEAF LANE, LITHIA SPRINGS, GA, 30122',
 '1050 HUNTER HILL DRIVE, ROSWELL, GA, 30075',
 '4300 BLACKLAND DR, MARIETTA, GA, 30067',
 '3217 HAZELWOOD DR SW, ATLANTA, GA, 30311',
 '11432 PANHANDLE RD, HAMPTON, GA, 30228',
 '1000 OAKPOINTE PLACE, ATLANTA, GA, 30338',
 '8651 CUMMING HIGHWAY, CANTON, GA, 30115',
 '3518 EMPEROR WAY, TUCKER, GA, 30084',
 '156 DIAMOND RIDGE AVE, CANTON, GA, 30114',
 '605 SADDLE CREEK CIRCLE, ROSWELL, GA, 30076',
 '3280 NORTHSIDE PKWY  #102, ATLANTA, GA, 30327',
 '4206 STILESBORO RD NW, KENNESAW, GA, 30152',
 '1179 CHURCH ST NW, ATLANTA, GA, 30318',
 '4301 CHIMNEY LAKE DR NE, ROSWELL, GA, 30075',
 '1751 INVERNESS AVE NE, ATLANTA, GA, 30306',
 '3553 SPRING SHOALS, ELLENWOOD, GA, 30294',
 '130 LYNDA LN, FAIRBURN, GA, 30213',
 '3160 CADIZ CIRCLE, COLLEGE PARK, GA, 30349',
 '3601 MONTREAL CREEK CIR. 4, CLARKSTON, GA, 30021',
 '5412 GLEN HAVEN DR, COLLEGE PARK, GA, 30349',
 '2085 ROSWELL RD, MARIETTA, GA, 30062',
 '3547 H OLD CHAMBLEE TUCKER RD, DOROVILLE, GA, 30340',
 '3106 BROOK LANE, POWDER SPRINGS, GA, 30127',
 '1415 BUCKINGHAM CT, HAMPTON, GA, 30228',
 '3605 MONTREL CREEK CIRCLE, CLARKSTON, GA, 30021',
 '5217 REDFIELD CT, ATLANTA, GA, 30338',
 '4257 MEADOW WAY, MAREITTA, GA, 30066',
 '3126 DESERT DR APT 12, EAST POINT, GA, 30344',
 '442 SCHAFFER ROAD SW, MARIETTA, GA, 30060',
 '566 MARION BEAVERS RD, SHARPSBURG, GA, 30277',
 '565 KINGS PLACE, RIVERDALE, GA, 30296',
 'CONSTRUCTION SERVICES, INC.  3805 PRESIDENTIAL PKWY SUITE 106, ATLANTA, GA, 30340',
 '1250 CREST VALLEY DR, ATLANTA, GA, 30327',
 '3549 POPE ROAD, DOUGLASVILLE, GA, 30135',
 '3152 DESERT DR APT 3, EAST POINT, GA, 30344',
 '730 CLEARWATER RD, SHARPSBURG, GA, 30277',
 '1425 REDWINE RD, FAYETTEVILLE, GA, 30215',
 '2062 SKYHAWK LANE, ACWORTH, GA, 30102',
 '250 WEBNEY DRIVE, MARIETTA, GA, 30068',
 '1375 VISTA LEAF DR, DECATUR, GA, 30033',
 '450 PIEDMONT AVE, ATLANTA, GA, 30308',
 '1700 MT CARMEL ROAD, MCDONOUGH, GA, 30233',
 '982 SMITH ST, Clarkston, GA, 30021',
 '1140 HEARDS FERRY RD NW, ATLANTA, GA, 30328',
 '3010 MIDDLETON RD #230, ATLANTA, GA, 30311',
 '1061 BLANTON MILL RD, GRIFFIN, GA, 30224',
 '1219 ORLEANDER DR, BAINBRIDGE, GA, 39817',
 '3622 OREGON TRL, DECATUR, GA, 30032',
 '75 FRAYSERS CT, SHARPSBURG, GA, 30277',
 '255 HUNTCLIFF CT, FAYETTEVILLE, GA, 30214',
 '606 WINDHAM CT, CANTON, GA, 30115',
 '5445 TALLANTWORTH TRL, CUMMING, GA, 30040',
 '705 COBB XING SE, SMYRNA, GA, 30080',
 '177 SAWGRASS MANOR DR, NEWNAN, GA, 30265',
 '8090 WILLOW TREE WAY, ALPHARETTA, GA, 30005',
 '245 OMIN RD, FAYETTEVILLE, GA, 30214',
 '1101 CAPITAL CLUB CIR NE, ATLANTA, GA, 30319',
 '5207 DUNWOODY GABLES DR, ATLANTA, GA, 30338',
 '50 SPRINGRIDGE CT, NEWNAN, GA, 30265',
 '2029 LAKE PARK DRIVE, APT/FLR# A, SMYRNA, GA, 30080',
 '1030 ABERCORN DR SW, ATLANTA, GA, 30331',
 '305 PINEMOUNT DR, PEACHTREE CITY, GA, 30269',
 '10 TOWER PARK PLACE, ROSWELL, GA, 30075',
 '950 RAMSDEN RUN, ALPHARETTA, GA, 30022',
 '1249 GOODWIN RD NE, ATLANTA, GA, 30324',
 '1336 GREATLAND ROAD, GRIFFIN, GA, 30224',
 '1049 MAYSON TURNER RD NW, ATLANTA, GA, 30314',
 '10387 STARLING TRAIL, HAMPTON, GA, 30228',
 '2000 AUSTELL RD, MARIETTA, GA, 30008',
 '377 CALLAWAY RD, FAYETTEVILLE, GA, 30215',
 '3595 CLOUDLAND DR, STONE MOUNTAIN, GA, 30083',
 '1556 PHILLIPSBURG RD, COLQUITT, GA, 39837',
 '347 TAIT ROAD, STOCKBRIDGE, GA, 30281',
 '756 GLENSHIRE CT, RIVERDALE, GA, 30274',
 '5195 VERNON SPRINGS TRAIL, ATLANTA, GA, 30327',
 '1068 BIRCH ST SW, ATLANTA, GA, 30310',
 '1066 RALPH DAVID ABERNATHY BLVD  APT 345, ATLANTA, GA, 30310',
 '23 LAKEVIEW AVENUE, GRIFFIN, GA, 30223',
 '1134 COUNTRY LN NE, ATLANTA, GA, 30324',
 '723 GREY FIELD LN  greyfield apts, DUNWOODY, GA, 30350',
 '1725 SAINT LAWRENCE CV, TUCKER, GA, 30084',
 '8773 VALLEY LAKES COURT, UNION CITY, GA, 30291',
 '1085 CAPITAL CLUB CIRCLE NE, ATLANTA, GA, 30319',
 '3778 VILLA SPRINGS CIRCLE, POWDER SPRINGS, GA, 30127',
 '3090 ASHBURY LANE, REX, GA, 30273',
 '3458 ESSEX AVE, ATLANTA, GA, 30339',
 '3153 BAY VIEW DRIVE, JONESBORO, GA, 30236',
 '2891 ALEXANDRIA DR SW, ATLANTA, GA, 30331',
 '1210 LAKE CHARLES DR, ROSWELL, GA, 30075',
 '3210 LEMONS RIDGE DR SE, ATLANTA, GA, 30339',
 '4859 COLDSTREAM DR, ATLANTA, GA, 30360',
 '333 SNEAD RD, FAYETTEVILLE, GA, 30215',
 '50 HOLLOW OAK COURT, NEWNAN, GA, 30263',
 '3133 ROCK CREEK DRIVE, REX, GA, 30273',
 '165 MEDFORD DR, FAYETTEVILLE, GA, 30215',
 '1480 EDINBURGH DRIVE, TUCKER, GA, 30084',
 '122 CREEK CIR, STOCKBRIDGE, GA, 30281',
 '1032 HWY 54 W, FAYETTEVILLE, GA, 30214',
 '3045 HATHAWAY CT, ATLANTA, GA, 30341',
 '1907 GLEN MORA CT, DECATUR, GA, 30032',
 '1103 PROMONTORY DRIVE, MARIETTA, GA, 30062',
 '549 SHEFIELD CT, STOCKBRIDGE, GA, 30281',
 '2065 LAKE PARK DR,APT M, SMYRNA, GA, 30080',
 '5684 QUEENSBOROUGH DR, ATLANTA, GA, 30338',
 '2189 PAWNEE DRIVE, MARIETTA, GA, 30067',
 '3982 TAMARACK DRIVE, KENNESAW, GA, 30152',
 '7750 LYLE DRIVE, RIVERDALE, GA, 30296',
 '1006 NORTH INDIAN CREEK, CLARKSTON, GA, 30021',
 '225 SPAULDING SPRINGS LN, ATLANTA, GA, 30350',
 '153 TRIPLE CROWN CRT, ALPHARETTA, GA, 30004',
 '6228 SUSAN LN, DORAVILLE, GA, 30340',
 '11425 STRICKLAND RD, ROSWELL, GA, 30076',
 '4600 VILLA CHASE DRIVE, MARIETTA, GA, 30068',
 '501 CARLTON RD APT 5G, PALMETTO, GA, 30268',
 '3708 DELENA FARM RD, DOUGLASVILLE, GA, 30135',

In [10]:
df.drop(['AssetState', 'MilesFromOcean', 'AssetLocation', 'AssetZip', 'locationID', 'Latitude1', 'Latitude1', 'Latitude', 'Longitude'], axis=1)

,VegMgmt,PMLate,Manufacturer,WaterExposure,MultipleConnects,Storm,AssetType,Repairs,AvgRepairCost,Age,AssetId,AssetCity,Longitude1,Overloads,Status
0,Yes,N,Other,No,Yes,No,1-Phase Pole Transformer,Rebuild+3,"78851,3","70,3",CE01059,STOCKBRIDGE,1.766.461,Below 100%,1
1,Yes,N,Schneider Electric,No,No,No,1-Phase Pole Transformer,Rebuild+2,"78851,3","70,3",JU02620,MARRIETTA,1.541.825,Below 100%,1
2,Yes,N,Other,No,No,No,1-Phase Pole Transformer,Original,55000,"70,3",QD01302,NORCROSS,1.614.225,Above 150%,0
3,Yes,N,Other,No,Yes,No,1-Phase Pole Transformer,Original,"78851,3","70,3",RC00547,STOCKBRIDGE,1.612.306,Above 150%,0
4,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Original,"78851,3","70,3",GO01571,JONESBORO,1.646.600,Above 150%,0
5,Yes,N,Schneider Electric,No,No,No,1-Phase Pole Transformer,Original,"78851,3","70,3",PV03821,ATLANTA,1.586.178,Above 150%,0
6,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Original,"78851,3","70,3",BG00035,ATLANTA,1.585.972,Above 150%,0
7,Yes,N,GE,Yes,No,No,DF-series Transformer,Rebuild+1,77000,"67,9",BI00850,ACWORTH,1.585.578,Below 100%,1
8,Yes,N,Other,No,Yes,No,DF-series Transformer,Original,83287,"67,9",PH00338,REX,1.526.222,Below 100%,1
9,Yes,N,Other,No,Yes,No,DF-series Transformer,Rebuild+2,83287,"67,9",DU01362,DECATUR,1.578.575,Below 100%,1
10,Yes,N,GE,Yes,Yes,No,1-Phase Pole Transformer,Original,55221,"66,1",LH03538,KENNESAW,1.511.775,Below 100%,1
11,Yes,N,Schneider Electric,No,Yes,No,Voltage Transformer,Rebuild+2,55221,"66,1",EJ02273,RIVERDALE,1.517.433,Below 100%,1
12,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Original,55221,"66,1",PH02542,WILLIAMSON,1.518.633,Below 100%,1
13,Yes,N,GE,Yes,No,No,1-Phase Pole Transformer,Rebuild+3,55221,"66,1",QK00491,POWDER SPRINGS,1.516.964,Below 100%,1
14,Yes,N,Schneider Electric,No,No,No,DF-series Transformer,Rebuild+2,55221,"66,1",KR02027,MARIETTA,1.489.989,Below 100%,1
15,Yes,N,Siemens,No,Yes,No,1-Phase Pole Transformer,Original,55221,"66,1",JS02786,ATLANTA,1.497.806,Below 100%,1
16,Yes,N,Schneider Electric,No,Yes,No,DF-series Transformer,Rebuild+2,55221,"66,1",BF03050,UNION CITY,1.498.064,Below 100%,1
17,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Rebuild+2,55221,"66,1",RB01003,FOREST PARK,1.501.606,Below 100%,1
18,Yes,N,Schneider Electric,No,Yes,No,1-Phase Pole Transformer,Rebuild+3,55221,"66,1",HJ01515,SMYRNA,1.498.642,Below 100%,1
19,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Rebuild+2,55221,"66,1",IM03294,JONESBORO,1.499.653,Below 100%,1
20,Yes,N,Schneider Electric,No,Yes,No,1-Phase Pole Transformer,Rebuild+2,55221,"66,1",US03782,MARIETTA,1.498.444,Below 100%,1
21,Yes,N,GE,No,No,No,Voltage Transformer,Original,77000,"65,5",OR00225,PEACHTREE CITY,1.490.783,Below 100%,1
22,Yes,N,Other,No,No,No,1-Phase Pole Transformer,Rebuild+1,83287,"65,5",MT00737,CLARKESTON,1.498.061,Below 100%,1
23,Yes,N,Other,No,No,No,1-Phase Pole Transformer,Rebuild+3,83287,"65,5",OE01249,ALPHARETTA,1.498.189,Below 100%,1
24,No,N,GE,No,No,No,DF-series Transformer,Original,"63437,3",62,TT01198,MARIEGTA,1.499.964,Above 150%,0
25,No,N,Siemens,No,Yes,No,DF-series Transformer,Original,"63437,3",62,OS01710,ATLANTA,1.595.431,Above 150%,0
26,No,N,Schneider Electric,No,No,Yes,DF-series Transformer,Rebuild+3,"63437,3",62,VB00686,RIVERDALE,1.315.722,Above 150%,0
27,No,N,Schneider Electric,No,Yes,Yes,DF-series Transformer,Original,"63437,3",62,JG00174,WOODSTOCK,1.601.906,Above 150%,0
28,Yes,Y,Other,No,No,No,1-Phase Pole Transformer,Original,"70959,9","54,9",DT02452,DECATUR,1.455.794,Below 100%,1
29,Yes,Y,Schneider Electric,No,No,No,1-Phase Pole Transformer,Rebuild+2,"66867,36","54,9",KA02183,WOODSTOCK,1.742.064,Above 150%,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,No,Y,GE,Yes,Yes,Yes,DF-series Transformer,Rebuild+1,"63152,6","3,3",CN02031,DOUGLASVILLE,1.030.936,Below 100%,1
1687,Yes,Y,Other,No,No,No,1-Phase Pole Transformer,Original,"62061,8","3,3",QO00632,HAPEVILLE,1.058.667,100-120%,0
1688,Yes,Y,Other,No,No,No,1-Phase Pole Transformer,Rebuild+2,"93322,1","3,3",BH00169,RIVERDALE,1.069.122,100-120%,0
1689,Yes,Y,GE,No,No,No,1-Phase Pole Transformer,Original,"62061,8","3,3",OT02362,UNION CITY,1.068.689,Below 100%,1
1690,Yes,Y,Other,No,Yes,No,1-Phase Pole Transformer,Rebuild+2,"93322,1","3,3",SC02388,JONESBORO,1.047.517,100-120%,0
1691,No,Y,Schneider Electric,No,No,No,DF-series Transformer,Rebuild+1,"63152,6","3,3",FS01519,MAREITTA,1.047.325,Below 100%,1
1692,Yes,N,Other,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"85927,87",11,GS00431,ROSWELL,1.078.589,100-120%,0
1693,Yes,Y,Other,No,No,No,1-Phase Pole Transformer,Rebuild+2,"93322,1","3,3",KR02896,RIVERDALE,1.045.186,100-120%,0
1694,Yes,Y,Schneider Electric,Yes,No,No,1-Phase Pole Transformer,Rebuild+2,"93322,1","3,3",PS03628,ATLANTA,1.043.961,100-120%,0
1695,Yes,Y,Other,No,Yes,No,1-Phase Pole Transformer,Rebuild+1,"62061,8","3,3",GS00120,ATLANTA,1.045.450,100-120%,0
1696,Yes,Y,Other,No,Yes,No,1-Phase Pole Transformer,Original,"62061,8","3,3",SL02606,HAPEVILLE,1.044.222,Below 100%,1
1697,Yes,Y,GE,No,Yes,No,1-Phase Pole Transformer,Rebuild+2,"62061,8","3,3",QV02870,ATLANTA,1.044.372,100-120%,0
1698,Yes,N,Siemens,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"90161,03","3,3",BR01447,ATLANTA,1.044.092,100-120%,0
1699,Yes,Y,Siemens,No,Yes,Yes,3-Phase Transformer,Original,"76800,57",11,ST01463,ATLANTA,1.044.156,100-120%,0
1700,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Original,"77163,5",31,AS02747,COLLEGE PARK,1.051.453,100-120%,0
1701,Yes,N,Siemens,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"72980,08",31,HE01978,JONESBORO,1.051.367,100-120%,0
1702,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Original,"75310,09",28,BM00955,UNION CITY,1.050.325,100-120%,0
1703,Yes,N,Other,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"85062,55",51,FB00445,ATLANTA,1.024.750,100-120%,0
1704,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"80599,66",12,RV01455,COLLEGE PARK,1.054.714,100-120%,0
1705,Yes,N,GE,Yes,Yes,Yes,3-Phase Transformer,Rebuild+3,"89868,05",23,LM02225,WHITE,1.055.517,100-120%,0
1706,Yes,N,Other,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"67512,66",23,EQ01464,DUNWOODY,1.042.839,100-120%,0
1707,Yes,Y,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Rebuild+1,"74508,18",41,CJ00439,UNION CITY,1.052.258,100-120%,0
1708,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Original,"71883,04",21,EK03002,MARIETTA,1.052.239,100-120%,0
1709,Yes,N,GE,Yes,Yes,Yes,3-Phase Transformer,Original,"97448,11",11,FM02235,WHITE,1.024.372,100-120%,0
1710,Yes,N,Siemens,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"74730,35",12,UG02738,ATLANTA,1.036.911,100-120%,0
1711,Yes,N,Other,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"85190,33",12,WL01967,ROSWELL,1.043.444,100-120%,0
1712,Yes,N,GE,Yes,Yes,Yes,3-Phase Transformer,Rebuild+3,"68980,44",13,SP03011,DOUGLASVILLE,1.042.083,100-120%,0
1713,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"97830,99",23,AP01977,MARIETTA,1.047.047,100-120%,0
1714,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Rebuild+3,"71992,16",33,NQ02451,MARIETTA,1.044.856,100-120%,0
1715,Yes,N,GE,Yes,Yes,Yes,3-Phase Transformer,Rebuild+2,"80246,03",33,AF02234,HIRAM,1.035.756,100-120%,0

## Column Descriptions

- VegMgmt: Vegetation Management plans help reduce herbicide use and maintenance costs. Vegetation, if left alone will grow out of control, blocking visibility.
- PMLate: Plant Maintenance Late â€“ equipment that had overdue maintenance schedule.
- MilesFromOcean: This column makes no sense in relation to the AssetLocation, City, and Zip.
- Manufacturer: The name of the manufacturer of the transformer.
- WaterExposure: Whether a given transformer has been documented as having been been exposed to water.
- MultipleConnects: Whether the transformer supplies more than one home.
- Storm: Whether the transformer has been subjected to stormy weather.
- AssetType: Type of the transformer.
- Repairs: How many repairs/refurbishments a transformer has received.
- AvgRepairCost: Average repair cost for the transformer. These units seem high.
- Age: In years.
- Overloads: Status of being overloaded.

In [11]:
df['Age'].apply(lambda x: float(x.replace(',', '.'))).describe()

count    1716.000000
mean       13.438287
std        15.996203
min         3.000000
25%         4.500000
50%         6.600000
75%        12.900000
max        80.000000
Name: Age, dtype: float64

In [12]:
df['Overloads'].value_counts()

Below 100%    950
100-120%      663
120-150%       79
Above 150%     24
Name: Overloads, dtype: int64

In [13]:
df['Status'].value_counts()

1    950
0    766
Name: Status, dtype: int64

In [14]:
(df.groupby('AssetCity')['Status'].sum() / df['AssetCity'].value_counts()).sort_values(ascending=False)

ACKWORTH          1.0
POWDER SPRING     1.0
KENNASAW          1.0
COLQUITT          1.0
CONCORD           1.0
Clarkston         1.0
DECATER           1.0
DECATOUR          1.0
DECATURE          1.0
NEW NAN           1.0
DOROVILLE         1.0
DUNNWOODY         1.0
MERIETTA          1.0
FAIRMOUNT         1.0
FAYATTEVILLE      1.0
FAYETVILLE        1.0
MAREITTA          1.0
FORESTPARK        1.0
MAPLETON          1.0
GREENVILLE        1.0
HAMPTOM           1.0
JONESBOURGH       1.0
LETHIA SPRINGS    1.0
POWDER SPGS       1.0
CLARKESTON        1.0
ATLANA            1.0
SANDY SPRINGS     1.0
ALANTA            1.0
ALPARETTA         1.0
ALPHIARETTA       1.0
                 ...
AUSCELL           0.0
BARNESVILLE       0.0
AMERICUS          0.0
STOCKRIDGE        0.0
TYRONE            0.0
ALLENWOOD         0.0
SHAMBLEE          0.0
DECATOR           0.0
Peachtree City    0.0
CHAMDLEE          0.0
KENNEASW          0.0
LAKE CITY         0.0
LEESBURG          0.0
JONESBUROUGH      0.0
LITHONIA          0.0
JOHNVILLE         0.0
MABELTON          0.0
MABLTON           0.0
Fairmount         0.0
MARBLETON         0.0
FAYETVILLEC       0.0
MARIEGTA          0.0
ELLEN             0.0
MEANSVILLE        0.0
MORELAND          0.0
Marietta          0.0
NEWMAN            0.0
NUNEN             0.0
Norcross          0.0
HIRAM             0.0
Length: 137, dtype: float64

In [15]:
df['AssetCity'].value_counts()

ATLANTA           354
MARIETTA          160
DECATUR            92
ALPHARETTA         83
JONESBORO          53
ROSWELL            52
CANTON             45
FAYETTEVILLE       39
STOCKBRIDGE        39
ACWORTH            39
WOODSTOCK          32
RIVERDALE          32
KENNESAW           32
SMYRNA             32
GRIFFIN            27
POWDER SPRINGS     26
ELLENWOOD          26
DOUGLASVILLE       25
COLLEGE PARK       24
PEACHTREE CITY     23
TUCKER             23
ALBANY             21
HAMPTON            19
NORCROSS           19
STONE MOUNTAIN     19
FOREST PARK        17
NEWNAN             17
REX                16
DUNWOODY           16
AUSTELL            15
                 ...
JONESBOURGH         1
FAIRMOUNT           1
DUNNWOODY           1
FAYATTEVILLE        1
CONCORD             1
ALTANTIC            1
Fairmount           1
DECATURE            1
HAMPTOM             1
ALPHIARETTA         1
BARNESVILLE         1
LITHONIA            1
Albany              1
MABELTON            1
STONE MOUNTIAN      1
HIRAM               1
ACKWORTH            1
NEWMAN              1
KENNEASW            1
NUNEN               1
DECATOUR            1
DOROVILLE           1
KENNASAW            1
AUSCELL             1
POWDER SPGS         1
Clarkston           1
MARIEGTA            1
LETHIA SPRINGS      1
MABLTON             1
Peachtree City      1
Name: AssetCity, Length: 137, dtype: int64

In [16]:
gmaps = googlemaps.Client(key='AIzaSyDpBGWbqUJUhdJ29dRs3zakAhwWPMhgUYg')

In [17]:
# test1 = gmaps.geocode(', '.join(location_info.iloc[0].tolist()))

In [18]:
joined_list = joined_series.tolist()

In [19]:
# geocoded = [gmaps.geocode(address) for address in joined_list]
with open('../src/static/data/geocoded_address.json', 'r') as f:
    geocoded = json.load(f)

In [20]:
address_check = [location[0]['formatted_address'] for location in geocoded]

In [21]:
address_check[0].split(',')

['371 Vista Creek Dr', ' Stockbridge', ' GA 30281', ' USA']

In [22]:
geocoded[0][0]

{'address_components': [{'long_name': '371',
   'short_name': '371',
   'types': ['street_number']},
  {'long_name': 'Vista Creek Drive',
   'short_name': 'Vista Creek Dr',
   'types': ['route']},
  {'long_name': 'Stockbridge',
   'short_name': 'Stockbridge',
   'types': ['locality', 'political']},
  {'long_name': 'Henry County',
   'short_name': 'Henry County',
   'types': ['administrative_area_level_2', 'political']},
  {'long_name': 'Georgia',
   'short_name': 'GA',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': 'United States',
   'short_name': 'US',
   'types': ['country', 'political']},
  {'long_name': '30281', 'short_name': '30281', 'types': ['postal_code']},
  {'long_name': '2092',
   'short_name': '2092',
   'types': ['postal_code_suffix']}],
 'formatted_address': '371 Vista Creek Dr, Stockbridge, GA 30281, USA',
 'geometry': {'bounds': {'northeast': {'lat': 33.51692269999999,
    'lng': -84.258342},
   'southwest': {'lat': 33.5167018, 'lng': -84.2585597}},
  'location': {'lat': 33.5168046, 'lng': -84.2584781},
  'location_type': 'ROOFTOP',
  'viewport': {'northeast': {'lat': 33.5181612302915,
    'lng': -84.2571018697085},
   'southwest': {'lat': 33.5154632697085, 'lng': -84.25979983029151}}},
 'place_id': 'ChIJY6QlP8VX9IgR21vvC0sUFb0',
 'types': ['premise']}

In [23]:
address_check[373], joined_list[373]

('982 Smith St, Clarkston, GA 30021, USA',
 '982 SMITH ST, Clarkston, GA, 30021')

In [24]:
all('GA' in a for a in address_check)

False

In [25]:
all(a[:4] == b[:4] for a, b in zip(address_check, joined_list))

False

In [26]:
not_equal = []
sum_not_equal = 0
for i, (a, b) in enumerate(zip(address_check, joined_list)):
    if a[:4] != b[:4]:
        not_equal.append(i)
        sum_not_equal += 1

In [27]:
df.iloc[not_equal][['AssetLocation', 'AssetCity', 'AssetState', 'AssetZip']]

,AssetLocation,AssetCity,AssetState,AssetZip
12,DAVID P CLARK JR,WILLIAMSON,GA,30292
15,3001 TREE LODRE PRKWY,ATLANTA,GA,30350
47,PO BOX 408,SCOTTDALE,GA,30079
75,PO BOX 689 141 E COLLEGE AVE,DECATUR,GA,30030
107,100 TINSLEY MILL ROAD,PEACHTREE CITY,GA,30269
120,2255 LENOX RD APT D15,ATLANTA,GA,30324
146,119 PENNINSULA DRIVE,PEACHTREE CITY,GA,30269
187,6 POINTE TERRACE NW,ATLANTA,GA,30339
198,4 SHADOWWOOD DR,NEWNAN,GA,30265
218,35 FIRETHORN DR,NUNEN,GA,30265
227,172 TAKELA FRST,FAIRMOUNT,GA,30139
254,1081 BLITE COURT,AUSTELL,GA,30106
362,"CONSTRUCTION SERVICES, INC. 3805 PRESIDENTIAL...",ATLANTA,GA,30340
381,606 WINDHAM CT,CANTON,GA,30115
383,705 COBB XING SE,SMYRNA,GA,30080
386,245 OMIN RD,FAYETTEVILLE,GA,30214
396,1336 GREATLAND ROAD,GRIFFIN,GA,30224
410,723 GREY FIELD LN greyfield apts,DUNWOODY,GA,30350
423,50 HOLLOW OAK COURT,NEWNAN,GA,30263
518,3696 ALDA DR,DECATUR,GA,30032
521,5411HURON DRIVE,LAKE CITY,GA,30260
562,NADIA ADRIEN,ALPHARETTA,GA,30005
570,SHANNON STRIBOS,ROSWELL,GA,30076
576,792A PIEDMONT AVE,ATLANTAATI,GA,30308
592,EILEEN W ABNEY,HAMPTON,GA,30228
656,SUSAN CHAIN,ALBANY,GA,31721
677,NINA RADAKOVICH,ATLANTA,GA,30327
700,2910 Lake Connon Dr,Norcross,GA,30371
705,600 GREENSFERRY AVE,ATLANTA,GA,30314
727,818 HYACINTH LN,PEACHTREE CITY,GA,30269
729,8 GILBERT TRAIL,ATLANTA,GA,30308
776,500A ROSEHIP LANE,ACWORTH,GA,30101
805,2470CHESTNUT LANDING,ATLANTA,GA,30360
815,6065 ROSWELL RD NE,ATLANTA,GA,30328
964,7 PRESWICK PARK DR,NEWNAN,GA,30265
969,2821 GILLIVILLE RD,ALBANY,GA,31721
1038,5858 WAGNER CT,REX,GA,30273
1092,PO BOX 87204,COLLEGE PARK,GA,30337
1121,3517 SHACKWOOD PKWY,ATLANTA,GA,30339
1175,SUPERIOR CREEK LODGE,KENNESAW,GA,30152
1207,TODD C. MORGAN,HAMPTON,GA,30228
1251,538 COUNTY GREEN DR,JONESBORO,GA,30238
1273,TYRONE D HILLMAN,COLLEGE PARK,GA,30349
1315,PO BOX 4424,CANTON,GA,30114
1322,9 BILTMORE CIR,SHARPSBURG,GA,30277
1355,WEST WYND APARTMENT,ALBANY,GA,31707
1360,4045 GEORGE BUGSBY APT 13110,KENNESAW,GA,30144
1365,6 BEACH KNOLL DR,CANTON,GA,30114
1369,C/O ROBERT B. KING,ATLANTA,GA,30317
1384,818 NOTTIN HAM,JOHNVILLE,GA,30236
1387,PO BOX 10498,ATLANTA,GA,30310
1403,708 COBBLESTONE DR,FAYETVILLEC,GA,30215
1424,PETER H WEINZIERL,ATLANTA,GA,30324
1451,THE CROSSINGS OF EAST COBB,MARRIETTA,GA,30062
1462,8275 SENTAIE CHASE DR,ROSWELL,GA,30076
1464,VICTOR Y LESLIE,ELLENWOOD,GA,30294
1471,APT 6,ALBANY,GA,31707
1507,2 PECAN TRACE,NEWNAN,GA,30265
1666,APT. 30-E,ATLANTA,GA,30326
1671,8827 FAIRVIEW BLUFF,ALPHARETTA,GA,30022

In [28]:
not_adresses = [address_check[i] for i in not_equal]

In [29]:
not_adresses

['Williamson, GA 30292, USA',
 'Atlanta, GA 30350, USA',
 'Scottdale, GA 30079, USA',
 '141 E College Ave, Decatur, GA 30030, USA',
 'Tinsley Mill Village, Peachtree City, GA 30269, USA',
 'C-1, 2255 Lenox Rd NE, Atlanta, GA 30324, USA',
 'Peninsula Dr, Peachtree City, GA 30269, USA',
 '6 Pointe Terrace SE, Atlanta, GA 30339, USA',
 '4 Shadowwood Dr, Newnan, GA 30265, USA',
 'Newnan, GA 30265, USA',
 'Fairmount, GA 30139, USA',
 'Austell, GA 30106, USA',
 '3805 Presidential Pkwy #106, Atlanta, GA 30340, USA',
 'Windham, CT, USA',
 'Cobb Crossing SE, Smyrna, GA 30080, USA',
 'Hill Rd, Fayetteville, GA 30214, USA',
 'Griffin, GA, USA',
 '100 Greyfield Ln, Sandy Springs, GA 30350, USA',
 'Oak Ct, Newnan, GA 30263, USA',
 'Decatur, GA 30030, USA',
 'Lake City, GA, USA',
 'Alpharetta, GA 30005, USA',
 'Roswell, GA 30076, USA',
 '792 Piedmont Ave NE, Atlanta, GA 30308, USA',
 'Hampton, GA 30228, USA',
 'Albany, GA, USA',
 '104 Trinity Ave SW, Atlanta, GA 30303, USA',
 'Norcross, GA, USA',
 'Villages at Castleberry Hill, 600 Greensferry Ave SW, Atlanta, GA 30314, USA',
 'Hyacinth Ln, Peachtree City, GA 30269, USA',
 '8 Gilbert Trail NE, Atlanta, GA 30308, USA',
 '500 Rosehip Ln, Acworth, GA 30101, USA',
 'Atlanta, GA 30360, USA',
 'Northside Tower, 6065 Roswell Rd NE, Atlanta, GA 30328, USA',
 '7 Preswick Park Dr, Newnan, GA 30265, USA',
 'Hill Rd, Albany, GA 31705, USA',
 'Rex, GA 30273, USA',
 'College Park, GA, USA',
 'Atlanta, GA 30339, USA',
 '2945 Cobb Pkwy NW, Kennesaw, GA 30152, USA',
 'Hampton, GA 30228, USA',
 'Old Jonesboro Rd, Fairburn, GA 30213, USA',
 'College Park, GA, USA',
 '2400 Riverstone Blvd, Canton, GA 30114, USA',
 '9 Biltmore Cir, Sharpsburg, GA 30277, USA',
 '2415 Dawson Rd, Albany, GA 31707, USA',
 'Kennesaw, GA, USA',
 '6 Beech Knoll Dr, Canton, GA 30114, USA',
 '150 Gentilly Blvd, Cartersville, GA 30120, USA',
 'Jonesboro, GA 30236, USA',
 'Atlanta, GA 30310, USA',
 'Cobblestone Blvd, Fayetteville, GA 30215, USA',
 'Atlanta, GA 30324, USA',
 '2105 Carefree Cir, Marietta, GA 30062, USA',
 'Sentinae Chase Dr, Roswell, GA 30076, USA',
 'Ellenwood, GA, USA',
 '#6, Albany, GA 31707, USA',
 '2 Pecan Trce, Newnan, GA 30265, USA',
 '750 Park Ave NE APT 30E, Atlanta, GA 30326, USA',
 'Fairview Bluff, Alpharetta, GA 30022, USA']

In [30]:
with open('../src/static/data/geocoded_address.json', 'w') as f:
    json.dump(geocoded, f)

In [31]:
geocoded[0][0]['geometry']['location']

{'lat': 33.5168046, 'lng': -84.2584781}

In [32]:
df.copy()['Latitude'] = [location[0]['geometry']['location']
                      for location in geocoded]

In [33]:
df.copy()[['Latitude', 'Longitude']] = pd.DataFrame([location[0]['geometry']['location']
                                                     for location in geocoded])

In [34]:
drop = DropColumns(['AssetCity', 'AssetId', 'AvgRepairCost', 'AssetState', 'MilesFromOcean', 'AssetLocation', 'locationID', 'Latitude1', 'Longitude1'])

In [35]:
dropped = drop.fit_transform(df)

In [36]:
dropped.head()

,VegMgmt,PMLate,Manufacturer,WaterExposure,MultipleConnects,Storm,AssetType,Repairs,Age,AssetZip,Overloads,Latitude,Longitude,Status
0,Yes,N,Other,No,Yes,No,1-Phase Pole Transformer,Rebuild+3,"70,3",30281,Below 100%,"51,8781","17,66461",1
1,Yes,N,Schneider Electric,No,No,No,1-Phase Pole Transformer,Rebuild+2,"70,3",30068,Below 100%,"56,9386","15,41825",1
2,Yes,N,Other,No,No,No,1-Phase Pole Transformer,Original,"70,3",30091,Above 150%,"60,9047","16,14225",0
3,Yes,N,Other,No,Yes,No,1-Phase Pole Transformer,Original,"70,3",30281,Above 150%,"60,9028","16,12306",0
4,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Original,"70,3",30238,Above 150%,"62,68","16,466",0

In [38]:
CurrentMakeDummies(['Manufacturer',
                    'Repairs',
                    'Overloads',
                    'AssetType']).fit_transform(dropped).head()

,VegMgmt,PMLate,WaterExposure,MultipleConnects,Storm,Age,AssetZip,Latitude,Longitude,Status,...,Repairs_Rebuild+3,Overloads_100-120%,Overloads_120-150%,Overloads_Above 150%,Overloads_Below 100%,AssetType_1-Phase Pole Transformer,AssetType_3-Phase Transformer,AssetType_DF-series Transformer,AssetType_Padmount Transformer,AssetType_Voltage Transformer
0,Yes,N,No,Yes,No,"70,3",30281,"51,8781","17,66461",1,...,1,0,0,0,1,1,0,0,0,0
1,Yes,N,No,No,No,"70,3",30068,"56,9386","15,41825",1,...,0,0,0,0,1,1,0,0,0,0
2,Yes,N,No,No,No,"70,3",30091,"60,9047","16,14225",0,...,0,0,0,1,0,1,0,0,0,0
3,Yes,N,No,Yes,No,"70,3",30281,"60,9028","16,12306",0,...,0,0,0,1,0,1,0,0,0,0
4,Yes,N,No,No,No,"70,3",30238,"62,68","16,466",0,...,0,0,0,1,0,1,0,0,0,0

In [39]:
Binarize(['VegMgmt',
          'PMLate',
          'WaterExposure',
          'MultipleConnects',
          'Storm']).fit_transform(dropped)

,VegMgmt,PMLate,Manufacturer,WaterExposure,MultipleConnects,Storm,AssetType,Repairs,Age,AssetZip,Overloads,Latitude,Longitude,Status
0,1,0,Other,0,1,0,1-Phase Pole Transformer,Rebuild+3,"70,3",30281,Below 100%,"51,8781","17,66461",1
1,1,0,Schneider Electric,0,0,0,1-Phase Pole Transformer,Rebuild+2,"70,3",30068,Below 100%,"56,9386","15,41825",1
2,1,0,Other,0,0,0,1-Phase Pole Transformer,Original,"70,3",30091,Above 150%,"60,9047","16,14225",0
3,1,0,Other,0,1,0,1-Phase Pole Transformer,Original,"70,3",30281,Above 150%,"60,9028","16,12306",0
4,1,0,Siemens,0,0,0,1-Phase Pole Transformer,Original,"70,3",30238,Above 150%,"62,68","16,466",0
5,1,0,Schneider Electric,0,0,0,1-Phase Pole Transformer,Original,"70,3",30311,Above 150%,"59,2825","15,86178",0
6,1,0,Siemens,0,0,0,1-Phase Pole Transformer,Original,"70,3",30306,Above 150%,"59,2808","15,85972",0
7,1,0,GE,1,0,0,DF-series Transformer,Rebuild+1,"67,9",30101,Below 100%,"59,2631","15,85578",1
8,1,0,Other,0,1,0,DF-series Transformer,Original,"67,9",30273,Below 100%,"66,5519","15,26222",1
9,1,0,Other,0,1,0,DF-series Transformer,Rebuild+2,"67,9",30033,Below 100%,"67,1064","15,78575",1
10,1,0,GE,1,1,0,1-Phase Pole Transformer,Original,"66,1",30152,Below 100%,"65,1017","15,11775",1
11,1,0,Schneider Electric,0,1,0,Voltage Transformer,Rebuild+2,"66,1",30296,Below 100%,"68,1336","15,17433",1
12,1,0,Siemens,0,0,0,1-Phase Pole Transformer,Original,"66,1",30292,Below 100%,"59,7967","15,18633",1
13,1,0,GE,1,0,0,1-Phase Pole Transformer,Rebuild+3,"66,1",30127,Below 100%,"59,8561","15,16964",1
14,1,0,Schneider Electric,0,0,0,DF-series Transformer,Rebuild+2,"66,1",30067,Below 100%,"61,3414","14,89989",1
15,1,0,Siemens,0,1,0,1-Phase Pole Transformer,Original,"66,1",30350,Below 100%,"61,1586","14,97806",1
16,1,0,Schneider Electric,0,1,0,DF-series Transformer,Rebuild+2,"66,1",30291,Below 100%,"61,2514","14,98064",1
17,1,0,Siemens,0,0,0,1-Phase Pole Transformer,Rebuild+2,"66,1",30297,Below 100%,"61,1683","15,01606",1
18,1,0,Schneider Electric,0,1,0,1-Phase Pole Transformer,Rebuild+3,"66,1",30080,Below 100%,"61,1067","14,98642",1
19,1,0,Siemens,0,0,0,1-Phase Pole Transformer,Rebuild+2,"66,1",30238,Below 100%,"61,1869","14,99653",1
20,1,0,Schneider Electric,0,1,0,1-Phase Pole Transformer,Rebuild+2,"66,1",30068,Below 100%,"61,2136","14,98444",1
21,1,0,GE,0,0,0,Voltage Transformer,Original,"65,5",30269,Below 100%,"61,5078","14,90783",1
22,1,0,Other,0,0,0,1-Phase Pole Transformer,Rebuild+1,"65,5",30021,Below 100%,"61,2897","14,98061",1
23,1,0,Other,0,0,0,1-Phase Pole Transformer,Rebuild+3,"65,5",30022,Below 100%,"61,1164","14,98189",1
24,0,0,GE,0,0,0,DF-series Transformer,Original,62,30008,Above 150%,"61,1744","14,99964",0
25,0,0,Siemens,0,1,0,DF-series Transformer,Original,62,30305,Above 150%,"61,5817","15,95431",0
26,0,0,Schneider Electric,0,0,1,DF-series Transformer,Rebuild+3,62,30296,Above 150%,"55,0425","13,15722",0
27,0,0,Schneider Electric,0,1,1,DF-series Transformer,Original,62,30188,Above 150%,"62,6467","16,01906",0
28,1,1,Other,0,0,0,1-Phase Pole Transformer,Original,"54,9",30032,Below 100%,"68,1147","14,55794",1
29,1,1,Schneider Electric,0,0,0,1-Phase Pole Transformer,Rebuild+2,"54,9",30188,Above 150%,"52,2203","17,42064",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,0,1,GE,1,1,1,DF-series Transformer,Rebuild+1,"3,3",30134,Below 100%,"40,2444","10,30936",1
1687,1,1,Other,0,0,0,1-Phase Pole Transformer,Original,"3,3",30354,100-120%,"37,435","10,58667",0
1688,1,1,Other,0,0,0,1-Phase Pole Transformer,Rebuild+2,"3,3",30274,100-120%,"39,26","10,69122",0
1689,1,1,GE,0,0,0,1-Phase Pole Transformer,Original,"3,3",30291,Below 100%,"39,2231","10,68689",1
1690,1,1,Other,0,1,0,1-Phase Pole Transformer,Rebuild+2,"3,3",30238,100-120%,"39,7017","10,47517",0
1691,0,1,Schneider Electric,0,0,0,DF-series Transformer,Rebuild+1,"3,3",30062,Below 100%,"39,7164","10,47325",1
1692,1,0,Other,0,1,1,3-Phase Transformer,Rebuild+3,11,30076,100-120%,"38,8333","10,78589",0
1693,1,1,Other,0,0,0,1-Phase Pole Transformer,Rebuild+2,"3,3",30274,100-120%,"39,6297","10,45186",0
1694,1,1,Schneider Electric,1,0,0,1-Phase Pole Transformer,Rebuild+2,"3,3",30311,100-120%,"39,8564","10,43961",0
1695,1,1,Other,0,1,0,1-Phase Pole Transformer,Rebuild+1,"3,3",30310,100-120%,"39,8894","10,4545",0
1696,1,1,Other,0,1,0,1-Phase Pole Transformer,Original,"3,3",30354,Below 100%,"39,8358","10,44222",1
1697,1,1,GE,0,1,0,1-Phase Pole Transformer,Rebuild+2,"3,3",30331,100-120%,"39,8289","10,44372",0
1698,1,0,Siemens,0,1,1,3-Phase Transformer,Rebuild+3,"3,3",30315,100-120%,"39,8197","10,44092",0
1699,1,1,Siemens,0,1,1,3-Phase Transformer,Original,11,30327,100-120%,"39,6911","10,44156",0
1700,1,0,Schneider Electric,0,1,1,3-Phase Transformer,Original,31,30337,100-120%,"40,3136","10,51453",0
1701,1,0,Siemens,0,1,1,3-Phase Transformer,Rebuild+3,31,30238,100-120%,"40,265","10,51367",0
1702,1,0,Schneider Electric,0,1,1,3-Phase Transformer,Original,28,30291,100-120%,"40,2722","10,50325",0
1703,1,0,Other,0,1,1,3-Phase Transformer,Rebuild+3,51,30345,100-120%,"39,2792","10,2475",0
1704,1,0,Schneider Electric,0,1,1,3-Phase Transformer,Rebuild+3,12,30349,100-120%,"39,8542","10,54714",0
1705,1,0,GE,1,1,1,3-Phase Transformer,Rebuild+3,23,30184,100-120%,"37,4111","10,55517",0
1706,1,0,Other,0,1,1,3-Phase Transformer,Rebuild+3,23,30338,100-120%,"38,2667","10,42839",0
1707,1,1,Schneider Electric,0,1,1,3-Phase Transformer,Rebuild+1,41,30291,100-120%,"40,0394","10,52258",0
1708,1,0,Schneider Electric,0,1,1,3-Phase Transformer,Original,21,30062,100-120%,"39,9947","10,52239",0
1709,1,0,GE,1,1,1,3-Phase Transformer,Original,11,30184,100-120%,"38,5767","10,24372",0
1710,1,0,Siemens,0,1,1,3-Phase Transformer,Rebuild+3,12,30309,100-120%,"37,3875","10,36911",0
1711,1,0,Other,0,1,1,3-Phase Transformer,Rebuild+3,12,30076,100-120%,"40,6222","10,43444",0
1712,1,0,GE,1,1,1,3-Phase Transformer,Rebuild+3,13,30134,100-120%,"40,6708","10,42083",0
1713,1,0,Schneider Electric,0,1,1,3-Phase Transformer,Rebuild+3,23,30068,100-120%,"39,9831","10,47047",0
1714,1,0,Schneider Electric,0,1,1,3-Phase Transformer,Rebuild+3,33,30066,100-120%,"39,9581","10,44856",0
1715,1,0,GE,1,1,1,3-Phase Transformer,Rebuild+2,33,30141,100-120%,"40,2644","10,35756",0

In [40]:
ChangeTypes(['Age', 'AssetZip'], [lambda x: float(x.replace(',', '.')),
                                  custom_zip_cleaning]).fit_transform(dropped)

,VegMgmt,PMLate,Manufacturer,WaterExposure,MultipleConnects,Storm,AssetType,Repairs,Age,AssetZip,Overloads,Latitude,Longitude,Status
0,Yes,N,Other,No,Yes,No,1-Phase Pole Transformer,Rebuild+3,70.3,30281,Below 100%,"51,8781","17,66461",1
1,Yes,N,Schneider Electric,No,No,No,1-Phase Pole Transformer,Rebuild+2,70.3,30068,Below 100%,"56,9386","15,41825",1
2,Yes,N,Other,No,No,No,1-Phase Pole Transformer,Original,70.3,30091,Above 150%,"60,9047","16,14225",0
3,Yes,N,Other,No,Yes,No,1-Phase Pole Transformer,Original,70.3,30281,Above 150%,"60,9028","16,12306",0
4,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Original,70.3,30238,Above 150%,"62,68","16,466",0
5,Yes,N,Schneider Electric,No,No,No,1-Phase Pole Transformer,Original,70.3,30311,Above 150%,"59,2825","15,86178",0
6,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Original,70.3,30306,Above 150%,"59,2808","15,85972",0
7,Yes,N,GE,Yes,No,No,DF-series Transformer,Rebuild+1,67.9,30101,Below 100%,"59,2631","15,85578",1
8,Yes,N,Other,No,Yes,No,DF-series Transformer,Original,67.9,30273,Below 100%,"66,5519","15,26222",1
9,Yes,N,Other,No,Yes,No,DF-series Transformer,Rebuild+2,67.9,30033,Below 100%,"67,1064","15,78575",1
10,Yes,N,GE,Yes,Yes,No,1-Phase Pole Transformer,Original,66.1,30152,Below 100%,"65,1017","15,11775",1
11,Yes,N,Schneider Electric,No,Yes,No,Voltage Transformer,Rebuild+2,66.1,30296,Below 100%,"68,1336","15,17433",1
12,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Original,66.1,30292,Below 100%,"59,7967","15,18633",1
13,Yes,N,GE,Yes,No,No,1-Phase Pole Transformer,Rebuild+3,66.1,30127,Below 100%,"59,8561","15,16964",1
14,Yes,N,Schneider Electric,No,No,No,DF-series Transformer,Rebuild+2,66.1,30067,Below 100%,"61,3414","14,89989",1
15,Yes,N,Siemens,No,Yes,No,1-Phase Pole Transformer,Original,66.1,30350,Below 100%,"61,1586","14,97806",1
16,Yes,N,Schneider Electric,No,Yes,No,DF-series Transformer,Rebuild+2,66.1,30291,Below 100%,"61,2514","14,98064",1
17,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Rebuild+2,66.1,30297,Below 100%,"61,1683","15,01606",1
18,Yes,N,Schneider Electric,No,Yes,No,1-Phase Pole Transformer,Rebuild+3,66.1,30080,Below 100%,"61,1067","14,98642",1
19,Yes,N,Siemens,No,No,No,1-Phase Pole Transformer,Rebuild+2,66.1,30238,Below 100%,"61,1869","14,99653",1
20,Yes,N,Schneider Electric,No,Yes,No,1-Phase Pole Transformer,Rebuild+2,66.1,30068,Below 100%,"61,2136","14,98444",1
21,Yes,N,GE,No,No,No,Voltage Transformer,Original,65.5,30269,Below 100%,"61,5078","14,90783",1
22,Yes,N,Other,No,No,No,1-Phase Pole Transformer,Rebuild+1,65.5,30021,Below 100%,"61,2897","14,98061",1
23,Yes,N,Other,No,No,No,1-Phase Pole Transformer,Rebuild+3,65.5,30022,Below 100%,"61,1164","14,98189",1
24,No,N,GE,No,No,No,DF-series Transformer,Original,62.0,30008,Above 150%,"61,1744","14,99964",0
25,No,N,Siemens,No,Yes,No,DF-series Transformer,Original,62.0,30305,Above 150%,"61,5817","15,95431",0
26,No,N,Schneider Electric,No,No,Yes,DF-series Transformer,Rebuild+3,62.0,30296,Above 150%,"55,0425","13,15722",0
27,No,N,Schneider Electric,No,Yes,Yes,DF-series Transformer,Original,62.0,30188,Above 150%,"62,6467","16,01906",0
28,Yes,Y,Other,No,No,No,1-Phase Pole Transformer,Original,54.9,30032,Below 100%,"68,1147","14,55794",1
29,Yes,Y,Schneider Electric,No,No,No,1-Phase Pole Transformer,Rebuild+2,54.9,30188,Above 150%,"52,2203","17,42064",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,No,Y,GE,Yes,Yes,Yes,DF-series Transformer,Rebuild+1,3.3,30134,Below 100%,"40,2444","10,30936",1
1687,Yes,Y,Other,No,No,No,1-Phase Pole Transformer,Original,3.3,30354,100-120%,"37,435","10,58667",0
1688,Yes,Y,Other,No,No,No,1-Phase Pole Transformer,Rebuild+2,3.3,30274,100-120%,"39,26","10,69122",0
1689,Yes,Y,GE,No,No,No,1-Phase Pole Transformer,Original,3.3,30291,Below 100%,"39,2231","10,68689",1
1690,Yes,Y,Other,No,Yes,No,1-Phase Pole Transformer,Rebuild+2,3.3,30238,100-120%,"39,7017","10,47517",0
1691,No,Y,Schneider Electric,No,No,No,DF-series Transformer,Rebuild+1,3.3,30062,Below 100%,"39,7164","10,47325",1
1692,Yes,N,Other,No,Yes,Yes,3-Phase Transformer,Rebuild+3,11.0,30076,100-120%,"38,8333","10,78589",0
1693,Yes,Y,Other,No,No,No,1-Phase Pole Transformer,Rebuild+2,3.3,30274,100-120%,"39,6297","10,45186",0
1694,Yes,Y,Schneider Electric,Yes,No,No,1-Phase Pole Transformer,Rebuild+2,3.3,30311,100-120%,"39,8564","10,43961",0
1695,Yes,Y,Other,No,Yes,No,1-Phase Pole Transformer,Rebuild+1,3.3,30310,100-120%,"39,8894","10,4545",0
1696,Yes,Y,Other,No,Yes,No,1-Phase Pole Transformer,Original,3.3,30354,Below 100%,"39,8358","10,44222",1
1697,Yes,Y,GE,No,Yes,No,1-Phase Pole Transformer,Rebuild+2,3.3,30331,100-120%,"39,8289","10,44372",0
1698,Yes,N,Siemens,No,Yes,Yes,3-Phase Transformer,Rebuild+3,3.3,30315,100-120%,"39,8197","10,44092",0
1699,Yes,Y,Siemens,No,Yes,Yes,3-Phase Transformer,Original,11.0,30327,100-120%,"39,6911","10,44156",0
1700,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Original,31.0,30337,100-120%,"40,3136","10,51453",0
1701,Yes,N,Siemens,No,Yes,Yes,3-Phase Transformer,Rebuild+3,31.0,30238,100-120%,"40,265","10,51367",0
1702,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Original,28.0,30291,100-120%,"40,2722","10,50325",0
1703,Yes,N,Other,No,Yes,Yes,3-Phase Transformer,Rebuild+3,51.0,30345,100-120%,"39,2792","10,2475",0
1704,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Rebuild+3,12.0,30349,100-120%,"39,8542","10,54714",0
1705,Yes,N,GE,Yes,Yes,Yes,3-Phase Transformer,Rebuild+3,23.0,30184,100-120%,"37,4111","10,55517",0
1706,Yes,N,Other,No,Yes,Yes,3-Phase Transformer,Rebuild+3,23.0,30338,100-120%,"38,2667","10,42839",0
1707,Yes,Y,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Rebuild+1,41.0,30291,100-120%,"40,0394","10,52258",0
1708,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Original,21.0,30062,100-120%,"39,9947","10,52239",0
1709,Yes,N,GE,Yes,Yes,Yes,3-Phase Transformer,Original,11.0,30184,100-120%,"38,5767","10,24372",0
1710,Yes,N,Siemens,No,Yes,Yes,3-Phase Transformer,Rebuild+3,12.0,30309,100-120%,"37,3875","10,36911",0
1711,Yes,N,Other,No,Yes,Yes,3-Phase Transformer,Rebuild+3,12.0,30076,100-120%,"40,6222","10,43444",0
1712,Yes,N,GE,Yes,Yes,Yes,3-Phase Transformer,Rebuild+3,13.0,30134,100-120%,"40,6708","10,42083",0
1713,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Rebuild+3,23.0,30068,100-120%,"39,9831","10,47047",0
1714,Yes,N,Schneider Electric,No,Yes,Yes,3-Phase Transformer,Rebuild+3,33.0,30066,100-120%,"39,9581","10,44856",0
1715,Yes,N,GE,Yes,Yes,Yes,3-Phase Transformer,Rebuild+2,33.0,30141,100-120%,"40,2644","10,35756",0

## Pipeline Finale

In [44]:
pipe = make_pipeline(DropColumns(['AssetCity',
                                  'AssetId',
                                  'AvgRepairCost',
                                  'AssetState',
                                  'MilesFromOcean',
                                  'AssetLocation',
                                  'locationID',
                                  'Latitude1',
                                  'Longitude1']),
                     CurrentMakeDummies(['Manufacturer',
                                         'Repairs',
                                         'Overloads',
                                         'AssetType']),
                     ChangeTypes(['Age', 'AssetZip'],
                                 [lambda x: float(x.replace(',', '.')),
                                  custom_zip_cleaning]),
                     Binarize(['VegMgmt',
                               'PMLate',
                               'WaterExposure',
                               'MultipleConnects',
                               'Storm']),
                     AddressLatLong())
transformed = pipe.fit_transform(df)

In [46]:
transformed.loc[:, 'Status':]

,Status,Manufacturer_GE,Manufacturer_Other,Manufacturer_Schneider Electric,Manufacturer_Siemens,Repairs_Original,Repairs_Rebuild+1,Repairs_Rebuild+2,Repairs_Rebuild+3,Overloads_100-120%,Overloads_120-150%,Overloads_Above 150%,Overloads_Below 100%,AssetType_1-Phase Pole Transformer,AssetType_3-Phase Transformer,AssetType_DF-series Transformer,AssetType_Padmount Transformer,AssetType_Voltage Transformer
0,1,0,1,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0
1,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0
3,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0
4,0,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,0,0
5,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0
6,0,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,0,0
7,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
8,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
9,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
10,1,1,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0
11,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1
12,1,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0
13,1,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0
14,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0
15,1,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0
16,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0
17,1,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0
18,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0
19,1,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0
20,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0
21,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
22,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0
23,1,0,1,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0
24,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
25,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,1,0,0
26,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0
27,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0
28,1,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0
29,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
1687,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0
1688,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0
1689,1,1,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0
1690,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0
1691,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0
1692,0,0,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0
1693,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0
1694,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0
1695,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0
1696,1,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0
1697,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0
1698,0,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0
1699,0,0,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0
1700,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0
1701,0,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0
1702,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0
1703,0,0,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0
1704,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0
1705,0,1,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0
1706,0,0,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0
1707,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0
1708,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0
1709,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
1710,0,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0
1711,0,0,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0
1712,0,1,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0
1713,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0
1714,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0
1715,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0